@import '../../style/core/mixins/var.less';
@import './var.less';

// automatic generated via cli

@index-bar-sidebar-z-index-const: 2;
@index-anchor-z-index-const: 1;
@index-anchor-line-height-const: 32px;
@index-anchor-background-color-const: transparent;

:root {
  .declare(index-bar-sidebar-z-index, @index-bar-sidebar-z-index-const);
  .declare(index-bar-index-font-size, @index-bar-index-font-size);
  .declare(index-bar-index-line-height, @index-bar-index-line-height);
  .declare(index-bar-index-active-color, @index-bar-index-active-color);
  .declare(index-anchor-z-index, @index-anchor-z-index-const);
  .declare(index-anchor-padding, @index-anchor-padding);
  .declare(index-anchor-text-color, @index-anchor-text-color);
  .declare(index-anchor-font-weight, @index-anchor-font-weight);
  .declare(index-anchor-font-size, @index-anchor-font-size);
  .declare(index-anchor-line-height, @index-anchor-line-height-const);
  .declare(index-anchor-background-color, @index-anchor-background-color-const);
  .declare(index-anchor-sticky-text-color, @index-anchor-sticky-text-color);
  .declare(index-anchor-sticky-background-color, @index-anchor-sticky-background-color);
}
