@import '../../style/core/mixins/hairline.less';
@import './var.less';
@import './css-declare.less';

.@{index-bar-prefix-cls} {
  &-sidebar {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: @index-bar-sidebar-z-index;
    cursor: pointer;
    padding: 0 @var-padding-xs 0 @var-padding-md;
    touch-action: none;
    user-select: none;
    text-align: center;
  }

  &-index {
    font-weight: @var-font-weight-bold;
    font-size: @index-bar-index-font-size;
    line-height: @index-bar-index-line-height;

    &-active {
      color: @index-bar-index-active-color;
    }
  }

  &-anchor {
    z-index: @index-anchor-z-index;
    background-color: @index-anchor-background-color;
    padding: @index-anchor-padding;
    font-weight: @var-font-weight-bold;
    font-size: @index-anchor-font-size;
    line-height: @index-anchor-line-height;

    &-fixed {
      background-color: @index-anchor-sticky-background-color;
      color: @index-anchor-sticky-text-color;
      .hairline-bottom();
    }
  }
}
