@import '../../style/themes/index.less';

@index-bar-prefix-cls: ~'@{prefix-cls}-index-bar';

@index-bar-sidebar-z-index-const: 2;
@index-bar-sidebar-z-index: ~`varv('index-bar-sidebar-z-index') `;
@index-bar-index-font-size: @var-font-size-xs;
@index-bar-index-line-height: @var-line-height-xs;
@index-bar-index-active-color: @var-danger-color;

@index-anchor-z-index-const: 1;
@index-anchor-z-index: ~`varv('index-anchor-z-index') `;
@index-anchor-padding: 0 @var-padding-md;
@index-anchor-text-color: @var-text-color;
@index-anchor-font-weight: @var-font-weight-bold;
@index-anchor-font-size: @var-font-size-md;
@index-anchor-line-height-const: 32px;
@index-anchor-line-height: ~`varv('index-anchor-line-height') `;
@index-anchor-background-color-const: transparent;
@index-anchor-background-color: ~`varv('index-anchor-background-color') `;
@index-anchor-sticky-text-color: @var-danger-color;
@index-anchor-sticky-background-color: @var-background-color-light;
