@import '../../style/core/mixins/hairline.less';
@import './var.less';
@import './css-declare.less';

@popover-arrow-cls: ~'@{popover-prefix-cls}-arrow';

.set-transition(@name) {
  .@{name}-appear,
  .@{name}-enter {
    transform: scale(0.75);
    opacity: 0;
  }

  .@{name}-appear-active,
  .@{name}-enter-active {
    transform: scale(1);
    opacity: 1;
    transition: opacity @var-animation-duration-fast @var-animation-timing-function-enter,
      transform ~'calc(@{var-animation-duration-fast} * 0.67)' @var-animation-timing-function-enter ~'calc(@{var-animation-duration-fast} * 0.33)';
  }

  .@{name}-leave-active {
    transform: scale(0.75);
    opacity: 0;
    transition: opacity @var-animation-duration-fast @var-animation-timing-function-leave,
      transform ~'calc(@{var-animation-duration-fast} * 0.67)' @var-animation-timing-function-leave ~'calc(@{var-animation-duration-fast} * 0.33)';
  }
}
.@{popover-prefix-cls} {
  position: fixed;

  .@{popover-arrow-cls} {
    position: absolute;
    border-width: @popover-arrow-size;
    border-style: solid;
    border-color: transparent;
    color: @var-white;
  }

  &-content {
    box-shadow: 0 2px 12px rgba(50, 50, 51, 0.12);
    border-radius: @popover-border-radius;
    background-color: #fff;
    overflow: hidden;
  }

  &-action {
    cursor: pointer;
    padding: 0 @var-padding-md;
    width: @popover-action-width;
    height: @popover-action-height;
    font-size: @popover-action-font-size;
    line-height: @popover-action-line-height;

    &-inner {
      display: flex;
      position: relative;
      align-items: center;
      height: 100%;
    }

    &-disabled {
      cursor: not-allowed;
    }

    &-icon {
      flex-shrink: 0;
      margin-right: @var-padding-xs;
      font-size: @popover-action-icon-size-const;
    }

    &-text {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
    }

    &-with-icon &-text {
      justify-content: flex-start;
    }

    & + & &-inner {
      .hairline-top(@var-border-color);
    }

    &-active:not(&-disabled) {
      cursor: pointer;
      background-color: @active-color;
    }
  }

  &-theme-light {
    color: @popover-light-text-color;

    .@{popover-arrow-cls} {
      color: @popover-light-background-color;
    }

    .@{popover-prefix-cls}-action {
      &-disabled {
        color: @popover-light-action-disabled-text-color;
      }

      &-active:not(&-disabled) {
        background-color: @var-active-color;
      }
    }
  }

  &-theme-dark {
    color: @popover-dark-text-color;

    .@{popover-prefix-cls}-content {
      background-color: @popover-dark-background-color;
    }

    .@{popover-prefix-cls}-action {
      &-disabled {
        color: @popover-dark-action-disabled-text-color;
      }

      &-active:not(&-disabled) {
        background-color: rgba(0, 0, 0, 0.2);
      }
    }

    .@{popover-prefix-cls}-action + .@{popover-prefix-cls}-action .@{popover-prefix-cls}-action-inner::after {
      border-color: @var-gray-7;
    }

    .@{popover-arrow-cls} {
      color: @popover-dark-background-color;
    }
  }

  &[data-placement^='right'] {
    .@{popover-arrow-cls} {
      right: 100%;
      border-left-width: 0;
      border-right-color: currentColor;
    }
  }
  &[data-placement^='left'] {
    .@{popover-arrow-cls} {
      left: 100%;
      border-right-width: 0;
      border-left-color: currentColor;
    }
  }
  &[data-placement^='top'] {
    .@{popover-arrow-cls} {
      top: 100%;
      border-bottom-width: 0;
      border-top-color: currentColor;
    }
  }
  &[data-placement^='bottom'] {
    .@{popover-arrow-cls} {
      bottom: 100%;
      border-top-width: 0;
      border-bottom-color: currentColor;
    }
  }

  &[data-placement='bottom-start'] {
    transform-origin: left top;
    .@{popover-arrow-cls} {
      left: @var-padding-md;
      transform: translateX(-50%);
    }
  }

  &[data-placement='bottom-end'] {
    transform-origin: right top;
    .@{popover-arrow-cls} {
      right: @var-padding-md;
      transform: translateX(50%);
    }
  }

  &[data-placement='bottom'] {
    transform-origin: center top;
    .@{popover-arrow-cls} {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &[data-placement='top-start'] {
    transform-origin: left bottom;
    .@{popover-arrow-cls} {
      left: @var-padding-md;
      transform: translateX(-50%);
    }
  }

  &[data-placement='top-end'] {
    transform-origin: right bottom;
    .@{popover-arrow-cls} {
      right: @var-padding-md;
      transform: translateX(50%);
    }
  }

  &[data-placement='top'] {
    transform-origin: center bottom;
    .@{popover-arrow-cls} {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &[data-placement='left-start'] {
    transform-origin: right top;
    .@{popover-arrow-cls} {
      top: @var-padding-md;
      transform: translateY(-50%);
    }
  }

  &[data-placement='left-end'] {
    transform-origin: right bottom;
    .@{popover-arrow-cls} {
      bottom: @var-padding-md;
      transform: translateY(50%);
    }
  }

  &[data-placement='left'] {
    transform-origin: right center;
    .@{popover-arrow-cls} {
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &[data-placement='right-start'] {
    transform-origin: left top;

    .@{popover-arrow-cls} {
      top: @var-padding-md;
      transform: translateY(-50%);
    }
  }

  &[data-placement='right-end'] {
    transform-origin: left bottom;
    .@{popover-arrow-cls} {
      bottom: @var-padding-md;
      transform: translateY(50%);
    }
  }

  &[data-placement='right'] {
    transform-origin: left center;
    .@{popover-arrow-cls} {
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
.set-transition(~'@{popover-prefix-cls}-transition');
