@import '../../style/core/mixins/hairline.less';
@import './var.less';

@popover-arrow-cls: ~'@{popover-prefix-cls}-arrow';

.@{popover-prefix-cls} {
  position: fixed;
  border-radius: ~`varv('popover-border-radius') `;
  box-shadow: 0 2px 12px rgba(50, 50, 51, 0.12);

  .@{popover-arrow-cls} {
    color: @var-white;
    position: absolute;
    border-width: ~`varv('popover-arrow-size') `;
    border-color: transparent;
    border-style: solid;
  }

  &-action {
    display: flex;
    align-items: center;
    height: ~`varv('popover-action-height') `;
    font-size: ~`varv('popover-action-font-size') `;
    line-height: ~`varv('popover-action-line-height') `;
    cursor: pointer;
    padding: 0 @var-padding-md;
    width: ~`varv('popover-action-width') `;

    &-disabled {
      cursor: not-allowed;
    }

    &-icon {
      font-size: ~`varv('popover-action-icon-size-const') `;
      margin-right: @var-padding-xs;
      flex-shrink: 0;
    }

    &-text {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-with-icon &-text {
      justify-content: flex-start;
    }

    & + & &-text {
      .hairline-top(@var-border-color);
    }

    &-active:not(&-disabled) {
      cursor: pointer;
      background-color: @active-color;
    }
  }

  &-theme-light {
    background-color: ~`varv('popover-light-background-color') `;
    color: ~`varv('popover-light-text-color') `;

    .@{popover-arrow-cls} {
      color: ~`varv('popover-light-background-color') `;
    }

    .@{popover-prefix-cls}-action {
      &-disabled {
        color: ~`varv('popover-light-action-disabled-text-color') `;
      }

      &-active:not(&-disabled) {
        background-color: @var-active-color;
      }
    }
  }

  &-theme-dark {
    background-color: ~`varv('popover-dark-background-color') `;
    color: ~`varv('popover-dark-text-color') `;

    .@{popover-prefix-cls}-action {
      &-disabled {
        color: ~`varv('popover-dark-action-disabled-text-color') `;
      }

      &-active:not(&-disabled) {
        background-color: rgba(0, 0, 0, 0.2);
      }
    }

    .@{popover-arrow-cls} {
      color: ~`varv('popover-dark-background-color') `;
    }
  }

  &[data-popper-placement^='bottom'] {
    .@{popover-arrow-cls} {
      bottom: 100%;
      z-index: 2;
      border-top-width: 0;
      border-bottom-color: currentColor;
    }
  }

  &[data-popper-placement='bottom-start'] {
    transform-origin: left top;
  }

  &[data-popper-placement='bottom-end'] {
    transform-origin: right top;
  }

  &[data-popper-placement='bottom'] {
    transform-origin: center top;
  }

  &[data-popper-placement^='top'] {
    .@{popover-arrow-cls} {
      top: 100%;
      border-bottom-width: 0;
      border-top-color: currentColor;
    }
  }

  &[data-popper-placement='top-start'] {
    transform-origin: left bottom;
  }

  &[data-popper-placement='top-end'] {
    transform-origin: right bottom;
  }

  &[data-popper-placement='top'] {
    transform-origin: center bottom;
  }

  &[data-popper-placement^='left'] {
    .@{popover-arrow-cls} {
      left: 100%;
      border-right-width: 0;
      border-left-color: currentColor;
    }
  }

  &[data-popper-placement='left-start'] {
    transform-origin: right top;
  }

  &[data-popper-placement='left-end'] {
    transform-origin: right bottom;
  }

  &[data-popper-placement='left'] {
    transform-origin: right center;
  }

  &[data-popper-placement^='right'] {
    .@{popover-arrow-cls} {
      right: 100%;
      border-left-width: 0;
      border-right-color: currentColor;
    }
  }

  &[data-popper-placement='right-start'] {
    transform-origin: left top;
  }

  &[data-popper-placement='right-end'] {
    transform-origin: left bottom;
  }

  &[data-popper-placement='right'] {
    transform-origin: left center;
  }
}
