@import '../../style/themes/index.less';

@popover-prefix-cls: ~'@{prefix-cls}-popover';

@popover-arrow-size-const: 6px;
@popover-arrow-size: ~`varv('popover-arrow-size') `;
@popover-border-radius: @var-border-radius-lg;

@popover-action-width-const: 128px;
@popover-action-width: ~`varv('popover-action-width') `;
@popover-action-height-const: 44px;
@popover-action-height: ~`varv('popover-action-height') `;
@popover-action-font-size: @var-font-size-md;
@popover-action-line-height: @var-line-height-md;
@popover-action-icon-size-const-const: 20px;
@popover-action-icon-size: ~`varv('popover-action-icon-size') `;
@popover-action-icon-size-const: ~`varv('popover-action-icon-size-const') `;

@popover-light-text-color: @var-text-color;
@popover-light-background-color: @var-background-color-light;
@popover-light-action-disabled-text-color: @var-text-color-3;

@popover-dark-text-color: @var-white;
@popover-dark-background-color-const: #4a4a4a;
@popover-dark-background-color: ~`varv('popover-dark-background-color') `;
@popover-dark-action-disabled-text-color: @var-text-color-2;
