@import '../../style/core/mixins/hairline.less';
@import '../../style/core/mixins/text-ellipsis.less';
@import './var.less';
@import './css-declare.less';

.@{grid-prefix-cls} {
  display: grid;
  position: relative;

  &-center {
    .@{grid-item-prefix-cls}-content {
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }

  &-square {
    .@{grid-item-prefix-cls} {
      padding-top: 100%;

      &-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  &-horizontal {
    .@{grid-item-prefix-cls}-content {
      flex-direction: row;
    }
  }
}

.@{grid-item-prefix-cls} {
  position: relative;
  outline: 0;
  background-color: @grid-item-content-background-color;
  max-width: 100%;

  &-content {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: @var-padding-xs;
    padding: @grid-item-content-padding;
  }

  &-active {
    background-color: @grid-item-content-active-color;
  }

  &-clickable {
    cursor: pointer;
  }

  &-border &-content {
    .hairline(@var-border-color);
    &::after {
      border-width: 0;
      border-top-width: 1px;
      border-left-width: 1px;
    }
  }

  &-border-right &-content::after {
    border-right-width: 1px;
  }

  &-border-bottom &-content::after {
    border-bottom-width: 1px;
  }

  & &-icon {
    display: block;
    width: @grid-item-icon-size;
    height: @grid-item-icon-size;
    font-size: @grid-item-icon-size;
  }

  &-text {
    max-width: 100%;
    color: @grid-item-text-color;
    font-size: @grid-item-text-font-size;
    line-height: @var-line-height-base;
    .text-ellipsis();
  }
}
