@import '../../style/core/mixins/hairline.less';
@import '../../style/core/mixins/text-ellipsis.less';
@import './var.less';
@import './css-declare.less';

.@{grid-prefix-cls} {
  position: relative;
  display: grid;

  &-center {
    .@{grid-item-prefix-cls}-content {
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }

  &-square {
    .@{grid-item-prefix-cls} {
      padding-top: 100%;

      &-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  &-horizontal {
    .@{grid-item-prefix-cls}-content {
      flex-direction: row;
    }
  }
}

.@{grid-item-prefix-cls} {
  position: relative;
  max-width: 100%;
  background-color: ~`varv('grid-item-content-background-color') `;
  outline: 0;

  &-content {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: @var-padding-xs;
    padding: ~`varv('grid-item-content-padding') `;
  }

  &-active {
    background-color: ~`varv('grid-item-content-active-color') `;
  }

  &-border &-content {
    .hairline(@var-border-color);
    &::after {
      border-width: 0;
      border-top-width: 1px;
      border-left-width: 1px;
    }
  }

  &-border-right &-content::after {
    border-right-width: 1px;
  }

  &-border-bottom &-content::after {
    border-bottom-width: 1px;
  }

  &-icon {
    display: block;
    width: ~`varv('grid-item-icon-size') `;
    height: ~`varv('grid-item-icon-size') `;
    font-size: ~`varv('grid-item-icon-size') `;
  }

  &-text {
    max-width: 100%;
    color: ~`varv('grid-item-text-color') `;
    font-size: ~`varv('grid-item-text-font-size') `;
    line-height: @var-line-height-base;
    .text-ellipsis();
  }
}
