@import '../../style/themes/index.less';

@grid-prefix-cls: ~'@{prefix-cls}-grid';
@grid-item-prefix-cls: ~'@{prefix-cls}-grid-item';

@grid-item-content-padding: @var-padding-md @var-padding-xs;
@grid-item-content-background-color: @var-background-color-light;
@grid-item-content-active-color: @var-active-color;
@grid-item-icon-size-const: 28px;
@grid-item-icon-size: ~`varv('grid-item-icon-size') `;
@grid-item-text-color: @var-gray-7;
@grid-item-text-font-size: @var-font-size-sm; ;
