@import './var.less';

.@{swiper-prefix-cls} {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  overflow: hidden;

  &-touchable {
    cursor: grab;
    touch-action: none;
  }

  &-measure {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    visibility: hidden;
    pointer-events: none;
  }

  &-content {
    position: relative;
    display: flex;
    user-select: normal;
    will-change: transform;
  }

  &-indicators {
    position: absolute;
    bottom: @swiper-indicator-margin;
    left: 50%;
    display: flex;
    transform: translate3d(-50%, 0, 0);
  }

  &-indicator {
    width: @swiper-indicator-size;
    height: @swiper-indicator-size;
    border-radius: 50%;

    &:not(:last-child) {
      margin-right: @swiper-indicator-size;
    }
  }

  &-vertical {
    .@{swiper-prefix-cls}-content {
      flex-direction: column;
    }

    .@{swiper-prefix-cls}-indicators {
      top: 50%;
      bottom: auto;
      left: @swiper-indicator-margin;
      flex-direction: column;
      transform: translate3d(0, -50%, 0);
    }

    .@{swiper-prefix-cls}-indicator {
      &:not(:last-child) {
        margin-right: auto;
        margin-bottom: @swiper-indicator-size;
      }
    }
  }
}

.@{swiper-item-prefix-cls} {
  display: block;
  overflow: hidden;
  will-change: transform;
}
