@import '../../style/themes/index.less';

@swiper-prefix-cls: ~'@{prefix-cls}-swiper';
@swiper-item-prefix-cls: ~'@{prefix-cls}-swiper-item';

@swiper-indicator-size-const: 6px;
@swiper-indicator-size: ~`varv('swiper-indicator-size') `;
@swiper-indicator-margin: @var-padding-sm; ;
