@import '../../style/core/mixins/var.less';
@import './var.less';

// automatic generated via cli
@tag-line-height-const: 16px;
@tag-small-border-radius-const: 2px;
@tag-small-height-const: 16px;
@tag-medium-border-radius-const: 2px;
@tag-medium-height-const: 20px;
@tag-large-padding-const: 0 6px;
@tag-large-border-radius-const: 4px;
@tag-large-height-const: 24px;

:root {
  .declare(tag-text-color, @tag-text-color);
  .declare(tag-line-height, @tag-line-height-const);
  .declare(tag-small-padding, @tag-small-padding);
  .declare(tag-small-font-size, @tag-small-font-size);
  .declare(tag-small-border-radius, @tag-small-border-radius-const);
  .declare(tag-small-height, @tag-small-height-const);
  .declare(tag-medium-padding, @tag-medium-padding);
  .declare(tag-medium-font-size, @tag-medium-font-size);
  .declare(tag-medium-border-radius, @tag-medium-border-radius-const);
  .declare(tag-medium-height, @tag-medium-height-const);
  .declare(tag-large-padding, @tag-large-padding-const);
  .declare(tag-large-font-size, @tag-large-font-size);
  .declare(tag-large-border-radius, @tag-large-border-radius-const);
  .declare(tag-large-height, @tag-large-height-const);
  .declare(tag-round-border-radius, @tag-round-border-radius);
  .declare(tag-plain-background-color, @tag-plain-background-color);
  .declare(tag-danger-color, @tag-danger-color);
  .declare(tag-primary-color, @tag-primary-color);
  .declare(tag-success-color, @tag-success-color);
  .declare(tag-warning-color, @tag-warning-color);
}
