@import './var.less';
@import './css-declare.less';

.set-tag-type(@color) {
  background-color: @color;

  &.@{tag-prefix-cls}-plain {
    color: @color;
  }
}

.@{tag-prefix-cls} {
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
  border-radius: @tag-border-radius;
  padding: @tag-padding;
  color: @tag-text-color;
  font-size: @tag-font-size;
  line-height: @tag-line-height;

  &-primary {
    .set-tag-type(@tag-primary-color);
  }
  &-danger {
    .set-tag-type(@tag-danger-color);
  }
  &-success {
    .set-tag-type(@tag-success-color);
  }
  &-warning {
    .set-tag-type(@tag-warning-color);
  }

  &-size-medium {
    padding: @tag-medium-padding;
  }
  &-size-large {
    border-radius: @tag-large-border-radius;
    padding: @tag-large-padding;
    font-size: @tag-large-font-size;
  }

  &-round {
    border-radius: @tag-round-border-radius;
  }

  &-mark {
    border-radius: 0 @tag-round-border-radius @tag-round-border-radius 0;
  }

  &-close-icon {
    cursor: pointer;
    margin-left: 2px;
  }

  &-plain {
    border: @var-border-width-base solid currentColor;
    background-color: @tag-plain-background-color;
  }
}
