@import './var.less';
@import './css-declare.less';

.set-tag-type(@color) {
  background-color: @color;

  &.@{tag-prefix-cls}-plain {
    color: @color;
  }
}

.@{tag-prefix-cls} {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: ~`varv('tag-text-color') `;
  line-height: ~`varv('tag-line-height') `;
  font-size: @tag-font-size;
  border-radius: @tag-border-radius;
  padding: @tag-padding;

  &-primary {
    .set-tag-type(~`varv('tag-primary-color')`);
  }
  &-danger {
    .set-tag-type(~`varv('tag-danger-color')`);
  }
  &-success {
    .set-tag-type(~`varv('tag-success-color')`);
  }
  &-warning {
    .set-tag-type(~`varv('tag-warning-color')`);
  }

  &-size-medium {
    padding: @tag-medium-padding;
  }
  &-size-large {
    font-size: @tag-large-font-size;
    padding: @tag-large-padding;
    border-radius: @tag-large-border-radius;
  }

  &-round {
    border-radius: ~`varv('tag-round-border-radius') `;
  }

  &-mark {
    border-radius: 0 ~`varv('tag-round-border-radius') ` ~`varv('tag-round-border-radius') ` 0;
  }

  &-close-icon {
    margin-left: 2px;
    cursor: pointer;
  }

  &-plain {
    border: @var-border-width-base solid currentColor;
    background-color: ~`varv('tag-plain-background-color') `;
  }
}
