@import '../../style/themes/index.less';

@tag-prefix-cls: ~'@{prefix-cls}-tag';

@tag-text-color: @white;
@tag-line-height-const: 16px;
@tag-line-height: ~`varv('tag-line-height') `;
@tag-font-size: @var-font-size-sm;
@tag-border-radius-const: 2px;
@tag-border-radius: ~`varv('tag-border-radius') `;
@tag-padding-const: 0 @var-padding-base;
@tag-padding: ~`varv('tag-padding') `;

@tag-medium-padding-const: 2px 6px;
@tag-medium-padding: ~`varv('tag-medium-padding') `;

@tag-large-padding: @var-padding-base @var-padding-xs;
@tag-large-font-size: @var-font-size-md;
@tag-large-border-radius: @var-border-radius-md;

@tag-round-border-radius: @var-border-radius-max;
@tag-plain-background-color: @var-background-color-light;

@tag-danger-color: @var-danger-color;
@tag-primary-color: @var-primary-color;
@tag-success-color: @var-success-color;
@tag-warning-color: @var-warning-color;
