@import '../../style/core/mixins/hairline.less';
@import './var.less';
@import './css-declare.less';

.@{steps-prefix-cls} {
  display: flex;
  position: relative;
  background-color: @steps-background-color;

  &-vertical {
    flex-direction: column;
    padding-left: @step-vertical-padding-left;
  }

  &-horizontal {
    padding: @step-padding;

    .@{step-prefix-cls} {
      flex: 1;
      padding: 0 0 @step-horizontal-padding 0;

      &-title {
        display: inline-flex;
        font-size: @step-horizontal-title-font-size;
      }

      &-icon-wrapper {
        top: 100%;
        left: 0%;
        transform: translate(-50%, -50%);
        margin-top: calc(@step-horizontal-padding / -2);
        background-color: @var-white;
        padding: 0 @var-padding-xs;
      }

      &-tail {
        top: 100%;
        left: 0;
        transform: translateY(-50%);
        margin-top: calc(@step-horizontal-padding / -2);
        width: 100%;
        height: 1px;
      }

      &:first-child {
        .@{step-prefix-cls}-icon-wrapper {
          left: calc(~'@{var-padding-xs}' * -1);
          transform: translateY(-50%);
        }
      }

      &:not(:first-child):not(:last-child) .@{step-prefix-cls}-title {
        transform: translateX(-50%);
      }

      &:last-child {
        position: absolute;
        right: @step-padding;
        align-items: flex-end;
        text-align: right;

        .@{step-prefix-cls}-icon-wrapper {
          right: calc(~'@{var-padding-xs}' * -1);
          left: unset;
          transform: translateY(-50%);
        }
      }
    }
  }
}

.@{step-prefix-cls} {
  position: relative;
  flex: 1;
  padding-top: @step-padding;
  padding-bottom: @step-padding;

  .setColor(@color, @dot-color,  @icon-color: '', @tail-color: '') {
    color: @color;

    .@{step-prefix-cls}-dot {
      background-color: @dot-color;
    }

    .@{step-prefix-cls}-icon when not (@icon-color = '') {
      color: @icon-color;
    }

    .@{step-prefix-cls}-title {
      color: @color;
    }

    .@{step-prefix-cls}-tail when not (@tail-color = '') {
      background-color: @tail-color;
    }
  }

  &-container {
    border-color: @var-gray-3;
  }

  &-finish {
    .setColor(@step-finish-text-color,  @step-finish-icon-color, '',  @step-finish-tail-color);
  }

  &-process {
    .setColor( @step-process-text-color,   @step-process-icon-color, @step-process-icon-color);
  }

  &-title {
    color: @step-text-color;
    font-size: @step-title-font-size;
  }

  &-dot {
    display: block;
    border-radius: 50%;
    background-color: @step-dot-color;
    width: @step-dot-size;
    height: @step-dot-size;
  }

  &-icon {
    color: @step-text-color;
    font-size: @step-icon-size;
  }

  &-tail {
    position: absolute;
    top: 19px;
    left: calc(~'@{var-padding-xl}' / -2);
    transform: translateX(-50%);
    background-color: @step-tail-color;
    width: 1px;
    height: 100%;
  }

  &-icon-wrapper {
    position: absolute;
    top: 19px;
    left: calc(~'@{var-padding-xl}' / -2);
    transform: translate3d(-50%, -50%, 0);
    z-index: 1;
    line-height: 0;
  }

  &-active &-title {
    cursor: pointer;
    color: @step-active-color;
  }

  &:last-child &-tail {
    display: none;
  }

  &:not(:last-child):not(&-horizontal) {
    .hairline-bottom(@var-border-color);
  }
}
