@import '../../style/core/mixins/hairline.less';
@import './var.less';

.@{steps-prefix-cls} {
  display: flex;
  position: relative;
  background-color: ~`varv('steps-background-color') `;

  &-vertical {
    flex-direction: column;
    padding-left: ~`varv('step-vertical-padding-left') `;
  }

  &-horizontal {
    padding: 0 ~`varv('step-padding') ` ~`varv('step-padding') `;
  }
}

.@{step-prefix-cls} {
  flex: 1;
  position: relative;
  padding-top: ~`varv('step-padding') `;
  padding-bottom: ~`varv('step-padding') `;

  .setColor(@color, @icon-color, @tail-color: false) {
    .@{step-prefix-cls}-dot {
      background-color: @icon-color;
    }

    .@{step-prefix-cls}-icon {
      color: @icon-color;
    }

    .@{step-prefix-cls}-title {
      color: @color;
    }

    .@{step-prefix-cls}-tail when (@tail-color) {
      background-color: @tail-color;
    }
  }

  &-container {
    border-color: @var-gray-3;
  }

  &-finish {
    .setColor(~`varv('step-finish-text-color') `,  ~`varv('step-finish-icon-color') `,  ~`varv('step-finish-tail-color') `);
  }

  &-process {
    .setColor( ~`varv('step-process-text-color') `,  ~`varv('step-process-icon-color') `);
  }

  &-title {
    font-size: ~`varv('step-title-font-size') `;
    color: ~`varv('step-text-color') `;
  }

  &-dot {
    border-radius: 50%;
    background-color: ~`varv('step-dot-color') `;
    width: ~`varv('step-dot-size') `;
    height: ~`varv('step-dot-size') `;
    display: block;
  }

  &-icon {
    font-size: ~`varv('step-icon-size') `;
    color: ~`varv('step-text-color') `;
  }

  &-tail {
    position: absolute;
    background-color: ~`varv('step-tail-color') `;
    width: 1px;
    height: 100%;
    top: calc(
      ~'@{step-title-font-size}' * (~'@{var-line-height-base}' - 1) / 2 + ~`varv(
          'step-padding'
        ) `
    );
    left: calc(~'@{var-padding-xl}' / -2);
    transform: translateX(-50%);
  }

  &-icon-wrapper {
    z-index: 1;
    position: absolute;
    top: calc(
      ~'@{step-title-font-size}' * (~'@{var-line-height-base}' - 1) / 2 + calc(
          ~`varv('step-padding') `
        ) + calc(~'@{step-title-font-size}') / 2
    );
    line-height: 0;
    left: calc(~'@{var-padding-xl}' / -2);
    transform: translate3d(-50%, -50%, 0);
  }

  &-clickable:active &-title {
    cursor: pointer;
    color: ~`varv('step-active-color') `;
  }

  &:last-child:not(&-horizontal) &-tail {
    display: none;
  }

  &:not(:last-child):not(&-horizontal) {
    .hairline(bottom,@var-gray-3);
  }
}

.@{steps-prefix-cls}-horizontal {
  .@{step-prefix-cls} {
    flex: 1;
    padding: 0 0 ~`varv('step-horizontal-padding') ` 0;

    &-title {
      font-size: ~`varv('step-horizontal-title-font-size') `;
      display: inline-flex;
    }

    &-icon-wrapper {
      top: 100%;
      left: 0%;
      background-color: @var-white;
      padding: 0 @var-padding-xs;
      transform: translate(-50%, -50%);
      margin-top: calc(~`varv('step-horizontal-padding') ` / -2);
    }

    &-tail {
      height: 1px;
      left: 0;
      width: 100%;
      top: 100%;
      margin-top: calc(~`varv('step-horizontal-padding') ` / -2);
      transform: translateY(-50%);
    }

    &:first-child {
      .@{step-prefix-cls}-icon-wrapper {
        left: calc(~'@{var-padding-xs}' * -1);
        transform: translateY(-50%);
      }
    }

    &:not(:first-child):not(:last-child) .@{step-prefix-cls}-title {
      transform: translateX(-50%);
    }

    &:last-child {
      text-align: right;
      align-items: flex-end;
      position: absolute;
      right: ~`varv('step-padding') `;

      .@{step-prefix-cls}-icon-wrapper {
        right: calc(~'@{var-padding-xs}' * -1);
        left: unset;
        transform: translateY(-50%);
      }
    }
  }
}
