@import '../../style/themes/index.less';

@steps-prefix-cls: ~'@{prefix-cls}-steps';
@step-prefix-cls: ~'@{prefix-cls}-step';

@step-padding-const: 10px;
@step-padding: ~`varv('step-padding') `;
@step-vertical-padding-left: @var-padding-xl;
@step-horizontal-padding-const: 22px;
@step-horizontal-padding: ~`varv('step-horizontal-padding') `;

@step-horizontal-title-font-size: @var-font-size-sm;
@step-title-font-size: @var-font-size-md;

@step-tail-color: @var-border-color;
@step-text-color: @var-gray-6;

@step-active-color: @var-success-color;
@step-process-text-color: @var-success-color;
@step-process-icon-color: @var-success-color;

@step-finish-tail-color: @var-success-color;
@step-finish-text-color: @var-text-color;
@step-finish-icon-color: @var-success-color;

@step-icon-size-const: 12px;
@step-icon-size: ~`varv('step-icon-size') `;
@step-dot-size-const: 5px;
@step-dot-size: ~`varv('step-dot-size') `;
@step-dot-color: @var-gray-6;

@steps-background-color: @var-white; ;
