@import '../../style/themes/index.less';
@import './var.less';
@import './ios.less';
@import './material.less';
@import './css-declare.less';

@loading-prefix-cls: ~'@{prefix-cls}-loading';

.@{loading-prefix-cls} {
  display: inline-flex;
  align-items: center;
  color: ~`varv('loading-spinner-color') `;
  font-size: ~`varv('loading-spinner-size') `;
  line-height: 0;
  * {
    line-height: 1;
  }
}

.@{loading-prefix-cls}-spinner {
  width: 1em;
  height: 1em;
  color: ~`varv('loading-spinner-color') `;
  line-height: 1;
}

.@{loading-prefix-cls}-text {
  margin-left: 8px;
  color: ~`varv('loading-text-color') `;
  font-size: ~`varv('loading-text-size') `;
}

.@{loading-prefix-cls}-vertical {
  flex-direction: column;

  .@{loading-prefix-cls}-text {
    margin-top: 8px;
    margin-left: 0;
  }
}
