@import './var.less';

@ios-spinner-animation-name: ~'@{ios-spinner-prefix-cls}--rotate-animation';

.@{ios-spinner-prefix-cls} {
  position: relative;
  width: 1em;
  height: 1em;
  color: currentColor;
  animation: @ios-spinner-animation-name @ios-spinner-duration steps(12)
    infinite;

  i {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: currentColor;

    &::after {
      position: absolute;
      top: 0;
      left: 50%;
      width: 2px;
      height: 20%;
      margin-left: -1px;
      background-color: currentColor;
      border-radius: 1px;
      content: '';
    }
  }

  @list: range(12);

  each(@list, {
    i:nth-of-type(@{value}) {
      opacity: 1 / 12 * @value;
      transform: rotate(@value * 30deg);
    }
  });
}

@keyframes @ios-spinner-animation-name {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
