@import '../../style/themes/index.less';

@loading-prefix-cls: ~'@{prefix-cls}-loading';
@loading-text-color: @gray-6;
@loading-text-size: @font-size-sm;
@loading-spinner-color: @gray-5;
@loading-spinner-size: 30px;

@material-spinner-prefix-cls: ~'@{loading-prefix-cls}-material-spinner';
@ios-spinner-prefix-cls: ~'@{loading-prefix-cls}-ios-spinner';
