@import '../../style/themes/index.less';

@loading-prefix-cls: ~'@{prefix-cls}-loading';
@ios-spinner-prefix-cls: ~'@{prefix-cls}-loading-ios-spinner';
@material-spinner-prefix-cls: ~'@{prefix-cls}-loading-material-spinner';

@loading-spinner-color: @var-gray-5;
@loading-spinner-size-const: 30px;
@loading-spinner-size: ~`varv('loading-spinner-size') `;
@loading-text-color: @var-gray-6;
@loading-text-size: @var-font-size-md;

@material-spinner-duration-const: 1.8s;
@material-spinner-duration: ~`varv('material-spinner-duration') `;
@ios-spinner-duration-const: 0.96s;
@ios-spinner-duration: ~`varv('ios-spinner-duration') `; ;
