.demo-block {
  &-title {
    margin: 0;
    padding: 32px 16px 16px;
    color: rgba(69, 90, 100, 0.6);
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }

  &.demo-block-card .demo-block-content {
    border-radius: 8px;
    background-color: #fff;
    overflow: hidden;
  }

  &:not(.demo-block-expand) {
    .demo-block-content {
      margin: 0 16px;
    }
  }
}
