@import '../../style/core/mixins/var.less';
@import './var.less';

// automatic generated via cli

@image-preview-header-height-const: 52px;
@image-preview-index-text-shadow-const: 0 1px 1px @var-gray-8;
@image-preview-overlay-background-color-const: rgba(0, 0, 0, 1);
@image-preview-close-icon-size-const: 22px;
@image-preview-close-icon-z-index-const: 1;

:root {
  .declare(image-preview-header-height, @image-preview-header-height-const);
  .declare(image-preview-index-text-color, @image-preview-index-text-color);
  .declare(image-preview-index-font-size, @image-preview-index-font-size);
  .declare(image-preview-index-line-height, @image-preview-index-line-height);
  .declare(image-preview-index-text-shadow, @image-preview-index-text-shadow-const);
  .declare(image-preview-overlay-background-color, @image-preview-overlay-background-color-const);
  .declare(image-preview-close-icon-size, @image-preview-close-icon-size-const);
  .declare(image-preview-close-icon-color, @image-preview-close-icon-color);
  .declare(image-preview-close-icon-margin, @image-preview-close-icon-margin);
  .declare(image-preview-close-icon-z-index, @image-preview-close-icon-z-index-const);
}
