@import '../../style/themes/index.less';

@image-preview-prefix-cls: ~'@{prefix-cls}-image-preview';
@image-preview-item-prefix-cls: ~'@{prefix-cls}-image-preview-item';
@image-preview-header-height-const: 52px;
@image-preview-header-height: ~`varv('image-preview-header-height') `;

@image-preview-index-text-color: @var-white;
@image-preview-index-font-size: @var-font-size-md;
@image-preview-index-line-height: @var-line-height-md;
@image-preview-index-text-shadow-const: 0 1px 1px @var-gray-8;
@image-preview-index-text-shadow: ~`varv('image-preview-index-text-shadow') `;

@image-preview-overlay-background-color-const: rgba(0, 0, 0, 1);
@image-preview-overlay-background-color: ~`varv('image-preview-overlay-background-color') `;

@image-preview-close-icon-size-const: 22px;
@image-preview-close-icon-size: ~`varv('image-preview-close-icon-size') `;
@image-preview-close-icon-color: @var-gray-5;
@image-preview-close-icon-margin: @var-padding-md;
@image-preview-close-icon-z-index-const: 1;
@image-preview-close-icon-z-index: ~`varv('image-preview-close-icon-z-index') `;
