# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
/npm-debug.log*
/yarn-error.log
/package-lock.json

# production
dist
/docs-dist

# misc
.DS_Store

.env.local

# ide
/.vscode
/.idea

.vercel
.cache
docs/src/pages/demo
docs/public
docs/.site
docs/.app-meta.json


packages/icons/es
packages/icons/lib
packages/components/es
packages/components/lib
