{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 85,
  "proseWrap": "never",
  "endOfLine": "lf",
  "jsxSingleQuote": true,
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json"
      }
    }
  ],
  "arrowParens": "avoid",
  "plugins": [
    "prettier-plugin-organize-imports",
    "prettier-plugin-css-order",
    "prettier-plugin-tailwindcss"
  ]
}
