{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 85,
  "proseWrap": "never",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json"
      }
    },
    {
      "files": "*.less",
      "options": {
        "printWidth": 120
      }
    }
  ]
}
