@import '../../style/core/mixins/var.less';
@import './var.less';

// automatic generated via cli
@button-large-height-const: 50px;
@button-default-height-const: 44px;
@button-small-height-const: 32px;
@button-mini-height-const: 24px;
@button-active-opacity-const: 0.2;

:root {
  .declare(button-primary-background-color, @button-primary-background-color);
  .declare(button-primary-color, @button-primary-color);
  .declare(button-success-background-color, @button-success-background-color);
  .declare(button-success-color, @button-success-color);
  .declare(button-danger-background-color, @button-danger-background-color);
  .declare(button-danger-color, @button-danger-color);
  .declare(button-warning-background-color, @button-warning-background-color);
  .declare(button-warning-color, @button-warning-color);
  .declare(button-link-background-color, @button-link-background-color);
  .declare(button-link-color, @button-link-color);
  .declare(button-large-font-size, @button-large-font-size);
  .declare(button-large-height, @button-large-height-const);
  .declare(button-default-font-size, @button-default-font-size);
  .declare(button-default-height, @button-default-height-const);
  .declare(button-small-font-size, @button-small-font-size);
  .declare(button-small-height, @button-small-height-const);
  .declare(button-mini-font-size, @button-mini-font-size);
  .declare(button-mini-height, @button-mini-height-const);
  .declare(button-disbaled-opacity, @button-disbaled-opacity);
  .declare(button-disbaled-background-color, @button-disbaled-background-color);
  .declare(button-plain-background-color, @button-plain-background-color);
  .declare(button-active-opacity, @button-active-opacity-const);
  .declare(button-active-overlay-color, @button-active-overlay-color);
  .declare(button-border-width, @button-border-width);
  .declare(button-color, @button-color);
  .declare(button-default-border-color, @button-default-border-color);
  .declare(button-default-background-color, @button-default-background-color);
  .declare(button-border-radius, @button-border-radius);
  .declare(button-round-border-radius, @button-round-border-radius);
}
