@import '../../style/core/mixins/hairline.less';
@import './var.less';
@import './css-declare.less';

.button-plain-state(@color, @border-color) {
  &.@{button-prefix-cls}-plain {
    color: @color;
    background-color: ~`varv('button-plain-background-color') `;
    .button-border(@border-color);
  }
}

.button-border(@border-color) {
  &.@{button-prefix-cls}-hairline {
    .hairline();
    border-width: 0;
  }

  & {
    border-color: @border-color;
  }
}

.button-disabled-state() {
  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: ~`varv('button-disbaled-background-color') `;
    opacity: ~`varv('button-disbaled-opacity') `;
    content: '';
  }
}

.setup-button(@background-color, @color, @border-color) {
  color: @color;
  background-color: @background-color;

  .button-plain-state(@background-color, @border-color);
  .button-border(@border-color);
}

.@{button-prefix-cls} {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0;
  padding: 0;
  gap: 4px;
  height: ~`varv('button-default-height') `;
  color: ~`varv('button-default-color') `;
  font-size: ~`varv('button-default-font-size') `;
  line-height: ~`varv('button-default-line-height') `;
  white-space: nowrap;
  text-align: center;
  background-color: ~`varv('button-default-background-color') `;
  border: ~`varv('button-border-width') ` solid ~`varv('button-default-border-color')
    `;
  border-radius: ~`varv('button-border-radius') `;

  .button-border(~`varv('button-default-border-color')`);

  &:focus,
  &:active {
    outline: 0;
  }

  &-active {
    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: ~`varv('button-active-overlay-color') `;
      border-radius: inherit;
      opacity: ~`varv('button-active-opacity') `;
      content: '';
    }
  }

  &-primary {
    .setup-button( ~`varv('button-primary-background-color')`,~`varv('button-primary-color')`,~`varv('button-primary-border-color')`);
  }

  &-success {
    .setup-button(~`varv('button-success-background-color')`, ~`varv('button-success-color')`, ~`varv('button-success-border-color')`);
  }

  &-danger {
    .setup-button(~`varv('button-danger-background-color')`, ~`varv('button-danger-color')`, ~`varv('button-danger-border-color')`);
  }

  &-warning {
    .setup-button(~`varv('button-warning-background-color')`, ~`varv('button-warning-color')`, ~`varv('button-warning-border-color')`);
  }

  &-size-large {
    height: ~`varv('button-large-height') `;
    font-size: ~`varv('button-large-font-size') `;
    width: 100%;
  }

  &-size-small {
    height: ~`varv('button-small-height') `;
    font-size: ~`varv('button-small-font-size') `;
    padding: ~`varv('button-small-padding') `;
  }

  &-size-mini {
    height: ~`varv('button-mini-height') `;
    font-size: ~`varv('button-mini-font-size') `;
    padding: ~`varv('button-mini-padding') `;
  }

  &-size-normal {
    padding: ~`varv('button-normal-padding') `;
  }

  &-round {
    border-radius: ~`varv('button-round-border-radius') `;
  }

  &-block {
    display: flex;
    width: 100%;
  }

  &[disabled] {
    .button-disabled-state();
    cursor: not-allowed;
  }

  &-disabled {
    .button-disabled-state();
    cursor: not-allowed;
  }

  &-icon {
    font-size: inherit;
    line-height: 0;
    font-size: ~`varv('button-icon-size') `;

    .@{button-prefix-cls}-loading-icon {
      font-size: inherit;
    }
  }
}
