@import '../../style/core/mixins/hairline.less';
@import './var.less';
@import './css-declare.less';

.button-plain-state(@color, @border-color) {
  &.@{button-prefix-cls}-plain {
    background-color: @button-plain-background-color;
    color: @color;
    .button-border(@border-color);
  }
}

.button-border(@border-color) {
  &.@{button-prefix-cls}-hairline:not(.@{button-prefix-cls}-borderless) {
    .hairline();
    border-width: 0;
  }
  &:not(.@{button-prefix-cls}-borderless) {
    border-width: @button-border-width;
    border-color: @border-color;
  }
}

.button-disabled-state() {
  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: @button-disabled-opacity;
    background-color: @button-disabled-background-color;
    content: '';
  }
}

.setup-button(@background-color, @color, @border-color) {
  background-color: @background-color;
  color: @color;

  .button-plain-state(@background-color, @border-color);
  .button-border(@border-color);
}

.@{button-prefix-cls} {
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  margin: 0;
  border: 0 solid transparent;
  border-radius: @button-border-radius;
  background-color: @button-default-background-color;
  padding: 0;
  height: @button-default-height;
  color: @button-default-color;
  font-size: @button-default-font-size;
  line-height: @button-default-line-height;
  text-align: center;
  white-space: nowrap;
  .button-border(@button-default-border-color);

  &:focus,
  &:active {
    outline: 0;
  }

  &-active {
    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: @button-active-opacity;
      border-radius: inherit;
      background-color: @button-active-overlay-color;
      content: '';
    }
  }

  &-primary {
    .setup-button( @button-primary-background-color,@button-primary-color,@button-primary-border-color);
  }

  &-success {
    .setup-button(@button-success-background-color, @button-success-color, @button-success-border-color);
  }

  &-danger {
    .setup-button(@button-danger-background-color, @button-danger-color, @button-danger-border-color);
  }

  &-warning {
    .setup-button(@button-warning-background-color, @button-warning-color, @button-warning-border-color);
  }

  &-size-large {
    width: 100%;
    height: @button-large-height;
    font-size: @button-large-font-size;
  }

  &-size-small {
    padding: @button-small-padding;
    height: @button-small-height;
    font-size: @button-small-font-size;
  }

  &-size-mini {
    padding: @button-mini-padding;
    height: @button-mini-height;
    font-size: @button-mini-font-size;
  }

  &-size-normal {
    padding: @button-normal-padding;
  }

  &-round {
    border-radius: @button-round-border-radius;
  }

  &-loading {
    cursor: default;
  }

  &-block {
    display: flex;
    width: 100%;
  }

  &[disabled] {
    .button-disabled-state();
    cursor: not-allowed;
  }

  &-disabled {
    .button-disabled-state();
    cursor: not-allowed;
  }

  &-icon {
    color: inherit;
    font-size: @button-icon-size;
    line-height: 0;

    .@{button-prefix-cls}-loading-icon {
      color: inherit;
      font-size: inherit;
    }
  }
}
