@import '../../style/themes/index.less';

@btn-prefix-cls: ~'@{prefix-cls}-btn';

@btn-primary-background-color: @success-color;
@btn-primary-color: @white;

@btn-info-background-color: @info-color;
@btn-info-color: @white;

@btn-danger-background-color: @danger-color;
@btn-danger-color: @white;

@btn-warning-background-color: @warning-color;
@btn-warning-color: @white;

@btn-link-background-color: @white;
@btn-link-color: @text-link-color;

@btn-large-font-size: @font-size-lg;
@btn-large-height: 50px;

@btn-normal-font-size: @font-size-md;
@btn-normal-height: 44px;

@btn-small-font-size: @font-size-sm;
@btn-small-height: 32px;

@btn-mini-font-size: @font-size-xs;
@btn-mini-height: 24px;

@btn-disbaled-opacity: @disabled-opacity;
@btn-disbaled-background-color: @white;

@btn-plain-background-color: @white;

@btn-active-opacity: 0.2;
@btn-active-overlay-color: @black;

@btn-border-width: @border-width-base;
@btn-color: @gray-8;
@btn-default-border-color: @border-color;
@btn-default-background-color: @white;

@btn-border-radius: @border-radius-sm;
@btn-round-border-radius: @border-radius-max;
