@import '../../style/themes/index.less';

@button-prefix-cls: ~'@{prefix-cls}-button';

@button-primary-background-color: @var-primary-color;
@button-primary-color: @var-white;

@button-success-background-color: @var-success-color;
@button-success-color: @var-white;

@button-danger-background-color: @var-danger-color;
@button-danger-color: @var-white;

@button-warning-background-color: @var-warning-color;
@button-warning-color: @var-white;

@button-large-font-size: @var-font-size-lg;
@button-large-height-const: 50px;
@button-large-height: ~`varv('button-large-height') `;

@button-default-font-size: @var-font-size-md;
@button-default-height-const: 44px;
@button-default-height: ~`varv('button-default-height') `;

@button-small-font-size: @var-font-size-sm;
@button-small-height-const: 32px;
@button-small-height: ~`varv('button-small-height') `;

@button-mini-font-size: @var-font-size-xs;
@button-mini-height-const: 24px;
@button-mini-height: ~`varv('button-mini-height') `;

@button-disbaled-opacity: @var-disabled-opacity;
@button-disbaled-background-color: @var-white;

@button-plain-background-color: @var-white;

@button-active-opacity-const: 0.2;
@button-active-opacity: ~`varv('button-active-opacity') `;
@button-active-overlay-color: @var-black;

@button-border-width: @var-border-width-base;
@button-color: @var-gray-8;
@button-default-border-color: @var-border-color;
@button-default-background-color: @var-white;

@button-border-radius: @var-border-radius-sm;
@button-round-border-radius: @var-border-radius-max;
