@import './var.less';
@import './css-declare.less';

.@{rate-prefix-cls} {
  display: inline-flex;
  align-items: center;
  gap: @rate-icon-gutter;
  cursor: pointer;
  color: @rate-icon-void-color;
  user-select: none;
  white-space: nowrap;

  &-item {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 1em;
    height: 1em;
    color: inherit;
    font-size: @rate-icon-size;
    text-align: center;
  }

  &-item-overlay {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    pointer-events: none;
    color: @rate-icon-full-color;
    font-size: inherit;
    text-align: center;
  }

  & &-icon {
    width: 1em;
    height: 1em;
    color: inherit;
    font-size: 1em;
  }

  & &-full-icon {
    color: @rate-icon-full-color;
  }

  &-disabled {
    cursor: not-allowed;
    color: @rate-icon-disabled-color;

    .@{rate-prefix-cls}-full-icon {
      color: @rate-icon-disabled-color;
    }
  }
  &-readonly {
    cursor: unset;
  }
}
