@import '../../style/themes/index.less';

@rate-prefix-cls: ~'@{prefix-cls}-rate';

@rate-icon-size-const: 20px;
@rate-icon-size: ~`varv('rate-icon-size') `;
@rate-icon-gutter: @var-padding-base;
@rate-icon-void-color: @var-gray-5;
@rate-icon-full-color: @var-danger-color;
@rate-icon-disabled-color: @var-gray-5;
