@import './mixins/hairline.less';

// hairline
@hairline-prefix-cls: ~'@{prefix-cls}-hairline';
@hairline-surround: ~'@{hairline-prefix-cls}-surround';
@hairline-dirs: left, top, bottom, right, surround;

each(@hairline-dirs, {
  .@{hairline-prefix-cls}-@{value} {
    .hairline(@value);
  }
});
