@import '../../style/core/mixins/hairline.less';
@import './var.less';
@import './css-declare.less';

.@{collapse-item-prefix-cls} {
  position: relative;

  &-border {
    .hairline-bottom(@collapse-border-color);
  }

  &-wrapper {
    will-change: height;
    overflow: hidden;
  }
  &-content {
    background-color: @collapse-item-content-background-color;
    padding: @collapse-item-content-padding;
    color: @collapse-item-content-text-color;
    font-size: @collapse-item-content-font-size;
    line-height: @collapse-item-content-line-height;
  }

  & &-value &-right-icon {
    color: inherit;
  }

  &-disabled {
    .@{collapse-item-prefix-cls}-header {
      cursor: not-allowed;
    }

    .@{collapse-item-prefix-cls} {
      &-title,
      &-value,
      &-label {
        color: @collapse-item-title-disabled-color;
      }
    }
  }
}
