@import '../../style/core/mixins/hairline.less';
@import './var.less';

.@{collapse-item-prefix-cls} {
  position: relative;

  &-border {
    .hairline(bottom, ~`varv('collapse-border-color')`);
  }

  &-wrapper {
    overflow: hidden;
    will-change: height;
  }
  &-content {
    padding: ~`varv('collapse-item-content-padding') `;
    color: ~`varv('collapse-item-content-text-color') `;
    font-size: ~`varv('collapse-item-content-font-size') `;
    line-height: ~`varv('collapse-item-content-line-height') `;
    background-color: ~`varv('collapse-item-content-background-color') `;
  }

  &-disabled {
    .@{collapse-item-prefix-cls}-header {
      cursor: not-allowed;
    }

    .@{collapse-item-prefix-cls}-title,
    .@{collapse-item-prefix-cls}-value,
    .@{collapse-item-prefix-cls}-label,
    .@{collapse-item-prefix-cls}-right-icon {
      color: ~`varv('collapse-item-title-disabled-color') `;
    }
  }
}
