@import '../../style/themes/index.less';

@collapse-prefix-cls: ~'@{prefix-cls}-collapse';
@collapse-item-prefix-cls: ~'@{prefix-cls}-collapse-item';

@collapse-border-color: @var-border-color;
@collapse-item-content-padding: @var-padding-sm @padding-md;
@collapse-item-content-font-size: @var-font-size-md;
@collapse-item-content-line-height: @var-line-height-md;
@collapse-item-content-text-color: @var-gray-6;
@collapse-item-content-background-color: @var-white;
@collapse-item-title-disabled-color: @var-gray-5; ;
