@import './var.less';
@import '../../style/core/mixins/set-animation.less';
@import './css-declare.less';

@overlay-enter-animation: ~'@{overlay-prefix-cls}-enter-animation';
@overlay-leave-animation: ~'@{overlay-prefix-cls}-leave-animation';

.set-animation(@overlay-prefix-cls, @overlay-enter-animation, @overlay-leave-animation);

.@{overlay-prefix-cls} {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: @overlay-z-index;
  background-color: @overlay-background-color;
  touch-action: none;
}

@keyframes @overlay-enter-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes @overlay-leave-animation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
