@import '../../style/themes/index.less';

@overlay-prefix-cls: ~'@{prefix-cls}-overlay';

@overlay-z-index-const: 1;
@overlay-z-index: ~`varv('overlay-z-index') `;
@overlay-background-color-const: rgba(0, 0, 0, 0.7);
@overlay-background-color: ~`varv('overlay-background-color') `;
