@import '../core/mixins/var.less';
@import '../themes/default.less';

@var-black: ~`varv('black') `;
@var-white: ~`varv('white') `;
@var-gray-1: ~`varv('gray-1') `;
@var-gray-2: ~`varv('gray-2') `;
@var-gray-3: ~`varv('gray-3') `;
@var-gray-4: ~`varv('gray-4') `;
@var-gray-5: ~`varv('gray-5') `;
@var-gray-6: ~`varv('gray-6') `;
@var-gray-7: ~`varv('gray-7') `;
@var-gray-8: ~`varv('gray-8') `;

@var-red: ~`varv('red') `;
@var-blue: ~`varv('blue') `;
@var-orange: ~`varv('orange') `;
@var-orange-dark: ~`varv('orange-dark') `;
@var-orange-light: ~`varv('orange-light') `;
@var-green: ~`varv('green') `;
@var-gradient-red: ~`varv('gradient-red') `;
@var-gradient-orange: ~`varv('gradient-orange') `;

@var-primary-color: ~`varv('primary-color') `;
@var-success-color: ~`varv('success-color') `;
@var-danger-color: ~`varv('danger-color') `;
@var-warning-color: ~`varv('warning-color') `;
@var-text-color: ~`varv('text-color') `;
@var-text-color-2: ~`varv('text-color-2') `;
@var-text-color-3: ~`varv('text-color-3') `;
@var-active-color: ~`varv('active-color') `;

@var-active-opacity: ~`varv('active-opacity') `;
@var-disabled-opacity: ~`varv('disabled-opacity') `;
@var-background-color: ~`varv('background-color') `;
@var-background-color-light: ~`varv('background-color-light') `;
@var-text-link-color: ~`varv('text-link-color') `;

@var-padding-base: ~`varv('padding-base') `;
@var-padding-xs: ~`varv('padding-xs') `;
@var-padding-sm: ~`varv('padding-sm') `;
@var-padding-md: ~`varv('padding-md') `;
@var-padding-lg: ~`varv('padding-lg') `;
@var-padding-xl: ~`varv('padding-xl') `;

@var-font-size-xs: ~`varv('font-size-xs') `;
@var-font-size-sm: ~`varv('font-size-sm') `;
@var-font-size-md: ~`varv('font-size-md') `;
@var-font-size-lg: ~`varv('font-size-lg') `;
@var-font-weight-bold: ~`varv('font-weight-bold') `;

@var-line-height-xs: ~`varv('line-height-xs') `;
@var-line-height-sm: ~`varv('line-height-sm') `;
@var-line-height-md: ~`varv('line-height-md') `;
@var-line-height-lg: ~`varv('line-height-lg') `;
@var-line-height-base: ~`varv('line-height-base') `;

@var-base-font-family: ~`varv('base-font-family') `;
@var-price-integer-font-family: ~`varv('price-integer-font-family') `;

@var-border-color: ~`varv('border-color') `;
@var-border-width-base: ~`varv('border-width-base') `;
@var-border-radius-sm: ~`varv('border-radius-sm') `;
@var-border-radius-md: ~`varv('border-radius-md') `;
@var-border-radius-lg: ~`varv('border-radius-lg') `;
@var-border-radius-max: ~`varv('border-radius-max') `;
