@import '../core/mixins/var.less';
@import '../themes/default.less';

@var-black: @black;
@var-white: @white;
@var-gray-1: @gray-1;
@var-gray-2: @gray-2;
@var-gray-3: @gray-3;
@var-gray-4: @gray-4;
@var-gray-5: @gray-5;
@var-gray-6: @gray-6;
@var-gray-7: @gray-7;
@var-gray-8: @gray-8;

@var-red: @red;
@var-blue: @blue;
@var-orange: @orange;
@var-orange-dark: @orange-dark;
@var-orange-light: @orange-light;
@var-green: @green;
@var-gradient-red: @gradient-red;
@var-gradient-orange: @gradient-orange;

@var-primary-color: @primary-color;
@var-success-color: @success-color;
@var-danger-color: @danger-color;
@var-warning-color: @warning-color;
@var-text-color: @text-color;
@var-text-color-2: @text-color-2;
@var-text-color-3: @text-color-3;
@var-active-color: @active-color;

@var-action-bar-button-danger-color: @action-bar-button-danger-color;
@var-action-bar-button-warning-color: @action-bar-button-warning-color;

@var-active-opacity: @active-opacity;
@var-disabled-opacity: @disabled-opacity;
@var-background-color: @background-color;
@var-background-color-light: @background-color-light;
@var-text-link-color: @text-link-color;

@var-padding-base: @padding-base;
@var-padding-xs: @padding-xs;
@var-padding-sm: @padding-sm;
@var-padding-md: @padding-md;
@var-padding-lg: @padding-lg;
@var-padding-xl: @padding-xl;

@var-font-size-xs: @font-size-xs;
@var-font-size-sm: @font-size-sm;
@var-font-size-md: @font-size-md;
@var-font-size-lg: @font-size-lg;
@var-font-weight-bold: @font-weight-bold;

@var-line-height-xs: @line-height-xs;
@var-line-height-sm: @line-height-sm;
@var-line-height-md: @line-height-md;
@var-line-height-lg: @line-height-lg;
@var-line-height-base: @line-height-base;

@var-base-font-family: @base-font-family;
@var-price-integer-font-family: @price-integer-font-family;

@var-border-color: @border-color;
@var-border-width-base: @border-width-base;
@var-border-radius-sm: @border-radius-sm;
@var-border-radius-md: @border-radius-md;
@var-border-radius-lg: @border-radius-lg;
@var-border-radius-max: @border-radius-max;

@var-animation-duration-base:~`varv ('animation-duration-base') `;
@var-animation-duration-fast: @animation-duration-fast;
@var-animation-duration-faster: @animation-duration-faster;
@var-animation-duration-entering-screen: @animation-duration-entering-screen;
@var-animation-duration-entering-screen: @animation-duration-entering-screen;
@var-animation-duration-leaving-screen: @animation-duration-leaving-screen;
@var-animation-timing-function-enter: @animation-timing-function-enter;
@var-animation-timing-function-leave: @animation-timing-function-leave;
@var-animation-timing-function-normal: @animation-timing-function-normal;
