@prefix-cls: rmcvant;

@primary-color: #ee0a24;

@gray-1: #f7f8fa;
@gray-2: #f2f3f5;
@gray-3: #ebedf0;
@gray-4: #dcdee0;
@gray-5: #c8c9cc;
@gray-6: #969799;
@gray-7: #646566;
@gray-8: #323233;

@black: #000;
@white: #fff;

// text color
@text-color: @gray-8;
@text-second-color: @gray-7;
@text-disable-color: @gray-5;
@text-help-color: @gray-4;

@active-color: @gray-2;
@active-opacity: 0.7;

// function color
@text-link-color: #576b95;
@text-help-color: #faab0c;
@danger-color: #ee0a24;
@success-color: #07c160;
@info-color: #1989fa;
@warning-color: #ff976a;

// background
@background-color: @gray-1;

@notification-text-color: #ed6a0c;
@notification-background-color: #fffbe8;

// font
@font-size-xs: 10px;
@font-size-sm: 12px;
@font-size-md: 14px;
@font-size-lg: 16px;
@line-height-xs: 14px;
@line-height-sm: 16px;
@line-height-md: 20px;
@line-height-lg: 22px;
@font-weight-bold: 500;
@base-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
  Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

// padding
@padding-base: 4px;
@padding-xs: @padding-base * 2;
@padding-sm: @padding-base * 3;
@padding-md: @padding-base * 4;
@padding-lg: @padding-base * 6;
@padding-xl: @padding-base * 8;

// border
@border-color: @gray-3;
@border-width-base: 1px;
@border-radius-sm: 2px;
@border-radius-md: 4px;
@border-radius-lg: 8px;
@border-radius-max: 999px;

@disabled-opacity: 0.7;
@base-box-shadow: 0 2px 12px 0 rgba(100, 101, 102, 0.12);
