@import '../../style/themes/index.less';

@input-prefix-cls: ~'@{prefix-cls}-input';

@input-text-color: @var-text-color;
@input-line-height-const: 24px;
@input-line-height: ~`varv('input-line-height') `;
@input-disabled-text-color: @var-text-color-3;
@input-placeholder-text-color: @var-text-color-3;
@input-icon-size: 16px;
@input-clear-icon-size: 16px;
@input-clear-icon-color: @var-gray-5;
@input-icon-color: @var-gray-6;

@input-word-limit-color: @var-gray-7;
@input-word-limit-font-size: @var-font-size-sm;
@input-word-limit-line-height: 16px;
