@import './var.less';
@import './css-declare.less';

.@{image-prefix-cls} {
  display: inline-block;
  position: relative;
  flex-shrink: 0;
  min-width: 1px;
  min-height: 1px;

  &-placeholder {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: inherit;
    background-color: @image-placeholder-background-color;
    width: 100%;
    height: 100%;
    color: @image-placeholder-text-color;
    font-size: @image-placeholder-font-size;
    text-align: center;
  }

  &-loading-icon {
    color: @image-loading-icon-color;
    font-size: @image-loading-icon-size;
  }

  &-error-icon {
    color: @image-error-icon-color;
    font-size: @image-error-icon-size;
  }

  &-img {
    display: block;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    object-fit: unset;
  }

  &-round {
    border-radius: 50%;
  }
}
