@import './var.less';
@import './css-declare.less';

.@{image-prefix-cls} {
  position: relative;
  display: inline-block;
  min-width: 1px;
  min-height: 1px;

  &-placeholder {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: ~`varv('image-placeholder-text-color') `;
    font-size: ~`varv('image-placeholder-font-size') `;
    text-align: center;
    background-color: ~`varv('image-placeholder-background-color') `;
    border-radius: inherit;
  }

  &-loading-icon {
    color: ~`varv('image-loading-icon-color') `;
    font-size: ~`varv('image-loading-icon-size') `;
  }

  &-error-icon {
    color: ~`varv('image-error-icon-color') `;
    font-size: ~`varv('image-error-icon-size') `;
  }

  &-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: unset;
    border-radius: inherit;
  }

  &-round {
    border-radius: 50%;
  }
}
