@import '../../style/themes/index.less';

@image-prefix-cls: ~'@{prefix-cls}-image';

@image-placeholder-text-color: @var-text-color-2;
@image-placeholder-font-size: @var-font-size-md;
@image-placeholder-background-color: @var-background-color;

@image-loading-icon-size-const: 32px;
@image-loading-icon-size: ~`varv('image-loading-icon-size') `;
@image-loading-icon-color: @var-gray-4;
@image-error-icon-size-const: 32px;
@image-error-icon-size: ~`varv('image-error-icon-size') `;
@image-error-icon-color: @var-gray-4; ;
