@import '../../style/core/mixins/reset.less';
@import './css-declare.less';

.@{switch-prefix-cls} {
  .reset();
  display: inline-flex;

  position: relative;
  transition-duration: @switch-transition-duration;
  transition-property: background-color, opacity;
  cursor: pointer;
  box-sizing: content-box;
  border: @switch-border;
  border-radius: @switch-width;
  background-color: @switch-background-color;
  width: @switch-width;
  height: @switch-height;
  font-size: @switch-size;

  &-checked {
    background-color: @switch-on-background-color;

    .@{switch-prefix-cls}-node {
      transform: translateX(~'calc(@{switch-width} - 100%)') translateY(-50%);
    }
  }

  &-loading {
    cursor: unset;
  }

  &-disabled {
    opacity: @switch-disabled-opacity;
    cursor: not-allowed;
  }

  &-node {
    display: flex;
    position: absolute;
    top: 50%;
    left: 0;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    transition-duration: inherit;
    transition-property: background-color, transform;
    box-shadow: @switch-node-box-shadow;
    border-radius: 50%;
    background-color: @switch-node-background-color;
    width: @switch-node-size;
    height: @switch-node-size;
    text-align: center;
  }
}
