@import '../../style/themes/index.less';

@switch-prefix-cls: ~'@{prefix-cls}-switch';

@switch-size-const: 30px;
@switch-size: ~`varv('switch-size') `;
@switch-width-const: 2em;
@switch-width: ~`varv('switch-width') `;
@switch-height-const: 1em;
@switch-height: ~`varv('switch-height') `;
@switch-node-size-const: 1em;
@switch-node-size: ~`varv('switch-node-size') `;
@switch-node-background-color: @var-white;
@switch-node-box-shadow-const: 0 3px 1px 0 rgba(0, 0, 0, 0.05);
@switch-node-box-shadow: ~`varv('switch-node-box-shadow') `;
@switch-background-color: @var-background-color-light;
@switch-on-background-color: @var-primary-color;
@switch-transition-duration: @var-animation-duration-base;
@switch-disabled-opacity: @var-disabled-opacity;
@switch-border-const: @var-border-width-base solid rgba(0, 0, 0, 0.1);
@switch-border: ~`varv('switch-border') `;
