@import './var.less';

.@{list-prefix-cls} {
  &-text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: @list-text-height;
    color: @list-text-color;
    font-size: @list-text-font-size;
    cursor: pointer;
  }

  &-loading-icon {
    font-size: @list-loading-icon-size;
  }
}
