@import '../../style/themes/default.less';

@list-prefix-cls: ~'@{prefix-cls}-list';
@list-loading-icon-size: 16px;
@list-text-font-size: @font-size-md;
@list-text-color: @gray-6;
@list-text-height: 50px;

.@{list-prefix-cls} {
  &-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: @list-text-font-size;
    color: @list-text-font-size;
    height: @list-text-height;
  }

  &-loading-icon {
    font-size: @list-loading-icon-size;
  }
}
