@import '../../style/themes/index.less';

@list-prefix-cls: ~'@{prefix-cls}-list';

@list-loading-icon-size-const: 16px;
@list-loading-icon-size: ~`varv('list-loading-icon-size') `;
@list-text-font-size: @var-font-size-md;
@list-text-color: @var-gray-6;
@list-text-height-const: 50px;
@list-text-height: ~`varv('list-text-height') `; ;
