@import '../../themes/default.less';

/*
 * dir left , top, bottom, right;
 */
.hairline(@dir: surround,  @color: inherit) {
  .init() {
    &::after {
      position: absolute;
      top: -50%;
      right: -50%;
      bottom: -50%;
      left: -50%;
      background-color: transparent;
      border-color: @color;
      border-style: solid;
      border-width: 0;
      border-radius: inherit;
      transform: scale(0.5);
      content: '';
      pointer-events: none;
    }
  }

  .if (@dir, @value) when (@dir = @value) {
    &::after {
      border-@{dir}-width: 1px;
    }
  }

  .surround(@dir) when (@dir = surround) {
    &::after {
      border-width: 1px;
    }
  }

  .init();
  .surround(@dir);

  .if(@dir , left );
  .if(@dir , top );
  .if(@dir , bottom );
  .if(@dir , right );
}
