.set-animation(@name,
@enter-animation-name,
@leave-animation-name,
@enter-duration: @var-animation-duration-entering-screen,
@enter-timing-function: @var-animation-timing-function-enter,
@leave-duration: @var-animation-duration-leaving-screen ,
@leave-timing-function: @var-animation-timing-function-leave ) {
  .@{name}-appear,
  .@{name}-enter {
    animation-fill-mode: both;
    animation-play-state: paused;
    animation-duration: @enter-duration;
    animation-name: @enter-animation-name;
  }

  .@{name}-leave {
    animation-fill-mode: both;
    animation-play-state: paused;
    animation-duration: @leave-duration;
    animation-name: @leave-animation-name;
  }

  .@{name}-appear-active,
  .@{name}-enter-active {
    animation-name: @enter-animation-name;
    animation-timing-function: @var-animation-timing-function-enter;
    animation-play-state: running;
  }

  .@{name}-leave-active {
    animation-name: @leave-animation-name;
    animation-timing-function: @var-animation-timing-function-leave;
    animation-play-state: running;
  }
}
