.text-ellipsis-mixin(@line: 1) {
  -webkit-line-clamp: @line;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-ellipsis() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-ellipsis-l2() {
  .text-ellipsis-mixin(2);
}

.text-ellipsis-l3() {
  .text-ellipsis-mixin(3);
}
