@import './var.less';
@import './css-declare.less';

.@{pull-refresh-prefix-cls} {
  position: relative;
  height: 100%;
  overflow: hidden;

  &-pull-distance {
    position: absolute;
    top: 0;
    top: -400px;
    left: 0;
    width: 100%;
    height: @pull-refresh-header-height;
  }

  &-header {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);
    width: 100%;
    height: @pull-refresh-header-height;
    color: @pull-refresh-header-text-color;
    text-align: center;

    &-loading-icon {
      font-size: @pull-refresh-header-loading-icon-size;
    }
  }

  &-content {
    will-change: transform;
    min-height: 100%;
  }
}
