@import './var.less';

.@{pull-refresh-prefix-cls} {
  position: relative;
  height: 100%;
  overflow: hidden;

  &-pull-distance {
    position: absolute;
    top: 0;
    top: -400px;
    left: 0;
    width: 100%;
    height: ~`varv('pull-refresh-header-height') `;
  }

  &-header {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: ~`varv('pull-refresh-header-height') `;
    color: ~`varv('pull-refresh-header-text-color') `;
    text-align: center;
    transform: translateY(-100%);

    &-loading-icon {
      font-size: ~`varv('pull-refresh-header-loading-icon-size') `;
    }
  }

  &-content {
    min-height: 100%;
    will-change: transform;
  }
}
