@import '../../style/themes/index.less';

@pull-refresh-prefix-cls: ~'@{prefix-cls}-pull-refresh';

@pull-refresh-header-height-const: 50px;
@pull-refresh-header-height: ~`varv('pull-refresh-header-height') `;
@pull-refresh-header-text-color: @var-gray-6;
@pull-refresh-header-loading-icon-size-const: 16px;
@pull-refresh-header-loading-icon-size: ~`varv(
    'pull-refresh-header-loading-icon-size'
  )
  `;
