@import './var.less';
@import './css-declare.less';

.@{radio-group-prefix-cls} {
  display: flex;
  row-gap: @padding-xs;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 100%;

  &-horizontal {
    column-gap: @padding-sm;
    flex-direction: row;
  }
}

.@{radio-prefix-cls} {
  display: inline-flex;
  position: relative;
  column-gap: @radio-label-margin;
  align-items: center;
  cursor: pointer;

  &-label {
    color: @radio-label-color;
    line-height: @radio-size;
  }

  &-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 1;
    cursor: inherit;
    width: 100%;
    height: 100%;
  }

  &-inner {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    transition-duration: @radio-transition-duration;
    transition-property: background-color, color, border-color;
    border: @var-border-width-base solid @radio-border-color;
    border-radius: 50%;
    min-width: 1em;
    height: 1em;
    font-size: @radio-size;
    user-select: none;
  }

  &-inner-custom {
    border-width: 0;
    background-color: inherit;
    color: inherit;
  }

  & &-icon {
    width: 1em;
    height: 1em;
    font-size: calc(1em - calc(@var-border-width-base) * 4);
  }

  &-shape-square &-inner {
    border-radius: initial;
  }

  &-position-left {
    flex-direction: row-reverse;
  }

  &-checked {
    .@{radio-prefix-cls} {
      &-inner:not(.@{radio-prefix-cls}-inner-custom) {
        border-color: @radio-checked-icon-color;
        background-color: @radio-checked-icon-color;
        color: @var-white;
      }
    }
  }

  &-disabled {
    cursor: not-allowed;

    .@{radio-prefix-cls} {
      &-label {
        color: @radio-disabled-label-color;
      }

      &-inner:not(.@{radio-prefix-cls}-inner-custom) {
        border-color: @radio-disabled-icon-color;
        background-color: @radio-disabled-background-color;
        color: @radio-disabled-icon-color;
      }
    }
  }
}
