@import '../../style/themes/index.less';

@radio-prefix-cls: ~'@{prefix-cls}-radio';
@radio-group-prefix-cls: ~'@{prefix-cls}-radio-group';

@radio-size-const: 20px;
@radio-size: ~`varv('radio-size') `;
@radio-border-color: @var-gray-5;
@radio-transition-duration: @var-animation-duration-fast;
@radio-label-margin: @var-padding-xs;
@radio-label-color: @var-text-color;
@radio-checked-icon-color: @var-primary-color;
@radio-disabled-icon-color: @var-gray-5;
@radio-disabled-label-color: @var-text-color-3;
@radio-disabled-background-color: @var-border-color;
