@import './var.less';
@import './css-declare.less';

.@{progress-prefix-cls} {
  position: relative;
  margin: @progress-margin;
  border-radius: @var-border-radius-max;
  background-color: @progress-trail-color;
  height: @progress-height;

  &-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-radius: inherit;
    background-color: @progress-color;
  }

  &-pivot {
    display: flex;
    position: absolute;
    top: 50%;
    left: 0;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    border-radius: inherit;
    background-color: @progress-color;
    padding: @progress-pivot-padding;
    color: @progress-pivot-text-color;
    font-size: @progress-pivot-font-size;
    line-height: @progress-pivot-line-height;
  }

  &-inactive {
    background-color: @progress-inactive-trail-color;
  }

  &-inactive &-bg {
    background-color: @progress-inactive-color;
  }

  &-inactive &-pivot {
    background-color: @progress-inactive-color;
  }
}
