@import '../../style/themes/index.less';

@progress-prefix-cls: ~'@{prefix-cls}-progress';

@progress-height-const: 4px;
@progress-height: ~`varv('progress-height') `;
@progress-margin-const: 20px 0;
@progress-margin: ~`varv('progress-margin') `;
@progress-color: @var-primary-color;
@progress-trail-color: @var-gray-3;

@progress-pivot-padding-const: 0 5px;
@progress-pivot-padding: ~`varv('progress-pivot-padding') `;
@progress-pivot-text-color: @var-white;
@progress-pivot-font-size: @var-font-size-xs;
@progress-pivot-line-height-const: 1.6;
@progress-pivot-line-height: ~`varv('progress-pivot-line-height') `;

@progress-inactive-color: @var-gray-5;
@progress-inactive-trail-color: @var-gray-2;
