@import '../../style/themes/index.less';

@checkbox-prefix-cls: ~'@{prefix-cls}-checkbox';
@checkbox-group-prefix-cls: ~'@{prefix-cls}-checkbox-group';

@checkbox-size-const: 20px;
@checkbox-size: ~`varv('checkbox-size') `;
@checkbox-border-color: @var-gray-5;
@checkbox-transition-duration: @var-animation-duration-fast;
@checkbox-label-margin: @var-padding-xs;
@checkbox-label-color: @var-text-color;
@checkbox-checked-icon-color: @var-primary-color;
@checkbox-disabled-icon-color: @var-gray-5;
@checkbox-disabled-label-color: @var-text-color-3;
@checkbox-disabled-background-color: @var-border-color;
