@import './var.less';
@import './css-declare.less';

.@{circle-prefix-cls} {
  position: relative;
  display: inline-block;
  width: ~`varv('circle-size') `;
  height: ~`varv('circle-size') `;

  svg {
    width: 100%;
    height: 100%;
  }

  &-group {
    transform: rotate(-90deg);
    transform-origin: center;
    fill: none;
    stroke-linecap: round;
    stroke-width: 4px;
  }

  &-position-left &-group {
    transform: rotate(-180deg);
  }

  &-position-bottom &-group {
    transform: rotate(90deg);
  }

  &-position-right &-group {
    transform: rotate(0deg);
  }

  &-svg-layer {
    stroke: @circle-layer-color;
  }

  &-svg-circle {
    stroke: ~`varv('circle-color') `;
  }

  &-text {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: ~`varv('circle-text-color') `;
    font-weight: ~`varv('circle-text-font-weight') `;
    font-size: ~`varv('circle-text-font-size') `;
    line-height: ~`varv('circle-text-line-height') `;
  }
}
