@import '../../style/themes/index.less';

@circle-prefix-cls: ~'@{prefix-cls}-circle';

@circle-size-const: 100px;
@circle-size: ~`varv('circle-size') `;
@circle-color: @var-primary-color;
@circle-layer-color: @var-white;
@circle-text-color: @var-text-color;
@circle-text-font-weight: @var-font-weight-bold;
@circle-text-font-size: @var-font-size-md;
@circle-text-line-height: @var-line-height-md; ;
