@import '../../style/themes/default.less';

@popup-prefix-cls: ~'@{prefix-cls}-popup';
@popup-background-color: @white;
@popup-round-border-radius: 16px;
@popup-close-icon-size: 22px;
@popup-close-icon-margin: 16px;
@popup-close-icon-color: @gray-5;
@popup-close-icon-active-color: @gray-6;

.@{popup-prefix-cls} {
  position: fixed;
  min-width: @popup-close-icon-margin * 2;

  min-height: @popup-close-icon-margin * 2;
  background-color: #fff;

  &-bottom {
    right: 0;
    bottom: 0;
    left: 0;
  }
  &-left {
    top: 0;
    bottom: 0;
    left: 0;
  }

  &-right {
    top: 0;
    right: 0;
    bottom: 0;
  }
  &-top {
    top: 0;
    right: 0;
    left: 0;
  }

  &-center {
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
  }

  &-round {
    &.@{popup-prefix-cls}-top {
      border-bottom-right-radius: @popup-round-border-radius;
      border-bottom-left-radius: @popup-round-border-radius;
    }
    &.@{popup-prefix-cls}-bottom {
      border-top-left-radius: @popup-round-border-radius;
      border-top-right-radius: @popup-round-border-radius;
    }
    &.@{popup-prefix-cls}-left {
      border-top-right-radius: @popup-round-border-radius;
      border-bottom-right-radius: @popup-round-border-radius;
    }
    &.@{popup-prefix-cls}-right {
      border-top-left-radius: @popup-round-border-radius;
      border-bottom-left-radius: @popup-round-border-radius;
    }
  }

  .@{popup-prefix-cls}-close-icon {
    position: absolute;
    color: @popup-close-icon-color;
    font-size: @popup-close-icon-size;

    &:active {
      color: @popup-close-icon-active-color;
    }

    &--top-left {
      top: @popup-close-icon-margin;
      left: @popup-close-icon-margin;
    }
    &--top-right {
      top: @popup-close-icon-margin;
      right: @popup-close-icon-margin;
    }
    &--bottom-left {
      bottom: @popup-close-icon-margin;
      left: @popup-close-icon-margin;
    }
    &--bottom-right {
      right: @popup-close-icon-margin;
      bottom: @popup-close-icon-margin;
    }
  }

  &-safe-area-inset-bottom {
    padding-bottom: 0;
    padding-bottom: env(safe-area-inset-bottom, 0);
  }

  &-safe-area-inset-top {
    padding-top: 0;
    padding-top: env(safe-area-inset-top, 0);
  }
}
