@import '../../style/themes/index.less';

@popup-prefix-cls: ~'@{prefix-cls}-popup';

@popup-background-color: @var-white;
@popup-round-border-radius-const: 16px;
@popup-round-border-radius: ~`varv('popup-round-border-radius') `;
@popup-close-icon-size-const: 22px;
@popup-close-icon-size: ~`varv('popup-close-icon-size') `;
@popup-close-icon-margin-const: 16px;
@popup-close-icon-margin: ~`varv('popup-close-icon-margin') `;
@popup-close-icon-color: @var-gray-5;
@popup-close-icon-active-color: @var-gray-6; ;
