@import '../../style/core/mixins/var.less';
@import './var.less';

// automatic generated via cli

@divider-text-line-height-const: 24px;
@divider-content-left-width-const: 10%;
@divider-content-right-width-const: 10%;
@divider-margin-const: @var-padding-md 0;

:root {
  .declare(divider-border-color, @divider-border-color);
  .declare(divider-text-color, @divider-text-color);
  .declare(divider-text-size, @divider-text-size);
  .declare(divider-text-line-height, @divider-text-line-height-const);
  .declare(divider-content-left-width, @divider-content-left-width-const);
  .declare(divider-content-right-width, @divider-content-right-width-const);
  .declare(divider-margin, @divider-margin-const);
  .declare(divider-content-padding, @divider-content-padding);
}
