@import '../../style/themes/default.less';
@import '../../style/core/mixins/hairline.less';

@divider-prefix-cls: ~'@{prefix-cls}-divider';
@divider-border-color: @gray-3;
@divider-text-color: @gray-8;
@divider-text-size: @font-size-lg;
@divider-text-line-height: @line-height-lg;
@divider-content-padding: @padding-sm;
@divider-margin: 10%;

.@{divider-prefix-cls} {
  display: flex;
  align-items: center;
  position: relative;

  &-content {
    padding-left: @divider-content-padding;
    padding-right: @divider-content-padding;
    position: relative;
    color: @divider-text-color;
    font-size: @divider-text-size;
    line-height: @divider-text-line-height;
    background-color: #fff;
  }

  &-border {
    z-index: -1;
    transform: translateY(-50%);
    position: absolute;
    left: 0;
    top: 50%;
    height: 1px;
    width: 100%;
    border-top: 1px solid @divider-border-color;
  }

  &-hairline .@{divider-prefix-cls}-border {
    transform: translateY(-50%) scaleY(0.5);
  }

  &-dashed .@{divider-prefix-cls}-border {
    border-style: dashed;
  }

  &-left {
    justify-content: flex-start;
    padding-left: @divider-margin;
  }

  &-center {
    justify-content: center;
  }

  &-right {
    justify-content: flex-end;
    padding-right: @divider-margin;
  }
}
