@import '../../style/core/mixins/hairline.less';
@import './var.less';

.@{divider-prefix-cls} {
  position: relative;
  display: flex;
  align-items: center;

  &-content {
    position: relative;
    padding-right: @divider-content-padding;
    padding-left: @divider-content-padding;
    color: @divider-text-color;
    font-size: @divider-text-size;
    line-height: @divider-text-line-height;
    background-color: #fff;
  }

  &-border {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 1px;
    border-top: 1px solid @divider-border-color;
    transform: translateY(-50%);
  }

  &-hairline .@{divider-prefix-cls}-border {
    transform: translateY(-50%) scaleY(0.5);
  }

  &-dashed .@{divider-prefix-cls}-border {
    border-style: dashed;
  }

  &-left {
    justify-content: flex-start;
    padding-left: @divider-margin;
  }

  &-center {
    justify-content: center;
  }

  &-right {
    justify-content: flex-end;
    padding-right: @divider-margin;
  }
}
