@import '../../style/themes/index.less';

@divider-prefix-cls: ~'@{prefix-cls}-divider';
@divider-border-color: @var-gray-3;
@divider-text-color: @var-gray-8;
@divider-text-size: @var-font-size-lg;
@divider-text-line-height: @var-line-height-lg;
@divider-content-padding: @var-padding-sm;
@divider-margin-const: 10%;
@divider-margin: ~`varv('divider-margin') `; ;
