@import './var.less';
@import './css-declare.less';

.@{toast-prefix-cls} {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  border-radius: @toast-border-radius;
  padding: @toast-message-padding;
  min-width: @toast-message-min-width;
  max-width: @toast-max-width;
  text-align: center;
  white-space: pre-wrap;
  word-break: break-all;

  &[class*='@{prefix-cls}'] {
    background-color: @toast-background-color !important;
  }

  &:not(&-normal) {
    padding: @toast-padding;
    min-width: @toast-width;
    min-height: @toast-min-height;
    .@{toast-prefix-cls}-message {
      margin-top: @var-padding-xs;
    }
  }

  &.@{toast-prefix-cls}-position-top {
    top: @toast-position-top-distance;
    bottom: unset;
  }

  &.@{toast-prefix-cls}-position-bottom {
    top: unset;
    bottom: @toast-position-bottom-distance;
  }

  & &-icon {
    width: @toast-icon-size;
    height: @toast-icon-size;
    color: @toast-icon-color;
    font-size: @toast-icon-size;
  }
  & &-loading-icon {
    padding: @var-padding-base;
    font-size: ~'calc(@{toast-icon-size} - @{var-padding-base} * 2)';
  }

  &-message {
    color: @toast-message-color;
    font-size: @toast-font-size;
    line-height: @var-line-height-md;
  }
}
