@import '../../style/themes/index.less';

@toast-prefix-cls: ~'@{prefix-cls}-toast';

@toast-max-width-const: 70%;
@toast-max-width: ~`varv('toast-max-width') `;
@toast-padding: @var-padding-md;
@toast-width-const: 88px;
@toast-width: ~`varv('toast-width') `;
@toast-min-height-const: 88px;
@toast-min-height: ~`varv('toast-min-height') `;

@toast-font-size: @var-font-size-md;
@toast-message-color: @var-white;
@toast-line-height: @var-line-height-md;
@toast-border-radius: @var-border-radius-lg;
@toast-background-color-const: fade(@black, 70%);
@toast-background-color: ~`varv('toast-background-color') `;

@toast-icon-color: @var-white;
@toast-icon-size-const: 36px;
@toast-icon-size: ~`varv('toast-icon-size') `;

@toast-message-min-width-const: 96px;
@toast-message-min-width: ~`varv('toast-message-min-width') `;
@toast-message-padding-const: @var-padding-xs @var-padding-sm;
@toast-message-padding: ~`varv('toast-message-padding') `;

@toast-position-top-distance-const: 20%;
@toast-position-top-distance: ~`varv('toast-position-top-distance') `;
@toast-position-bottom-distance-const: 20%;
@toast-position-bottom-distance: ~`varv('toast-position-bottom-distance') `;
