@import '../../style/themes/index.less';

@tabs-prefix-cls: ~'@{prefix-cls}-tabs';

@tab-text-color: @var-gray-7;
@tab-active-text-color: @var-text-color;
@tab-disabled-text-color: @var-text-color-3;
@tab-font-size: @var-font-size-md;
@tab-line-height: @var-line-height-md;

@tabs-default-color: @var-danger-color;
@tabs-line-height-const: 44px;
@tabs-line-height: ~`varv('tabs-line-height') `;
@tabs-card-height-const: 30px;
@tabs-card-height: ~`varv('tabs-card-height') `;
@tabs-nav-background-color: @var-background-color-light;
@tabs-bottom-bar-width-const: 40px;
@tabs-bottom-bar-width: ~`varv('tabs-bottom-bar-width') `;
@tabs-bottom-bar-height-const: 3px;
@tabs-bottom-bar-height: ~`varv('tabs-bottom-bar-height') `;
@tabs-bottom-bar-color: @var-danger-color;
