.layout {
  background-color: var(--doc-bg);
}

.nav {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  background-color: #fff;
  height: var(--doc-demo-header-height);
}

.container {
  min-height: var(--doc-demo-content-min-height);
  padding-bottom: 64px;
}

.back {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  outline: 0;
  border: 0;
  background-color: transparent;
  color: #969799;
  line-height: 1;
  font-size: 24px;
  padding: 0;
  cursor: pointer;
  display: flex;
}

.title {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 600;
}
