html,
body {
  ::-webkit-scrollbar {
    display: none;
  }
}

.layout {
  background-color: var(--doc-bg);
}

.nav {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  height: var(--doc-demo-header-height);
}

.container {
  padding-bottom: 64px;
  min-height: var(--doc-demo-content-min-height);
}
.light .container {
  background-color: #fff;
}

.back {
  display: flex;
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  cursor: pointer;
  outline: 0;
  border: 0;
  background-color: transparent;
  padding: 0;
  color: #969799;
  font-size: 24px;
  line-height: 1;
}

.title {
  font-weight: 600;
  font-size: 16px;
  text-transform: capitalize;
}
