.dropdown {
  box-shadow: var(--doc-shadows-dropdown);
  border-radius: var(--doc-radii-sm);
  background-color: #fff;
  overflow: hidden;
  font-size: var(--doc-font-size-1);
}

.menu {
  cursor: pointer;
  padding-right: 12px;
  padding-left: 12px;
  height: 36px;
  &:hover {
    background-color: var(--doc-bg);
    color: var(--doc-accent1);
  }

  &.selected {
    color: var(--doc-primary);
  }
}
