.button {
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: var(--doc-radii-max);
  background-color: var(--doc-bg);
  padding: 0 12px;
  height: 30px;
  color: var(--doc-gray700);
}

.iconLink {
  display: flex;
  transition: 0.2s;
  width: 30px;
  height: 30px;
  color: #fff;
  font-size: 30px;
  line-height: 1;
  &:hover {
    transform: scale(1.2);
  }
}
