.container {
  color: #fff;
  height: var(--doc-header-height);
  background-color: var(--doc-header-bg);
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 24px;
  justify-content: space-between;
  max-width: var(--doc-doc-max-width);
  margin-left: auto;
  margin-right: auto;
}

.nav {
  gap: 16px;
  display: flex;
  align-items: center;
}
