.container {
  gap: 12px;
  display: flex;
  align-items: center;
}

.logo {
  width: 28px;
  height: 28px;
}

.name {
  margin: 0;
  text-transform: capitalize;
  color: #fff;
  font-size: 22px;
  font-weight: 500;
}
