.layout {
  display: flex;
  flex-direction: column;
  background-color: var(--doc-bg);
  min-height: 100vh;
  color: var(--doc-text);
  font-size: var(--doc-font-size-1);

  &::-webkit-scrollbar {
    background-color: transparent;
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: transparent;
  }

  @media screen and (min-width: 1680px) {
    align-items: center;
  }
}

.main {
  margin-right: var(--doc-content-margin-right);
  margin-left: var(--doc-content-margin-left);
  padding: 24px 30px 75px;

  @media screen and (min-width: 1680px) {
    margin-right: unset;
    margin-left: var(--doc-content-width-offset);
    width: var(--doc-content-max-width);
  }
}
