@import './css-declare.less';

.@{form-item-prefix-cls} {
  &-label {
    flex: 0 0 @form-item-label-width;
    margin-right: @form-item-label-margin-right;
    color: @form-item-label-color;

    & > label {
      display: inline-flex;
      align-items: center;
    }

    &-align-center {
      text-align: center;
    }

    &-align-right {
      text-align: right;
    }
  }

  &-control {
    flex: 1;
    text-align: left;
    color: @form-item-control-color;
  }

  &-help {
    text-align: left;
    &-error {
      color: @form-item-error-message-color;
      font-size: @form-item-error-message-font-size;
    }
  }
}

.@{form-item-prefix-cls}-required:not(.@{form-item-prefix-cls}-no-required-mark) > label {
  &::before {
    content: '*';
    color: @form-item-required-mark-color;
    margin-right: @var-padding-base;
    line-height: 1;
    font-family: SimSun, sans-serif;
  }
}
