@import '../../style/themes/index.less';

@form-prefix-cls: ~'@{prefix-cls}-form';
@form-item-prefix-cls: ~'@{prefix-cls}-form-item';

@form-item-label-width: 6.2em;
@form-item-label-color: @var-gray-7;
@form-item-label-margin-right: @var-padding-sm;
@form-item-error-message-color: @var-danger-color;
@form-item-error-message-font-size: 12px;
@form-item-required-mark-color: @var-red;
@form-item-control-color: @var-text-color;
