@import '../../style/core/mixins/var.less';
@import './var.less';

// automatic generated via cli

@notice-bar-height-const: 40px;
@notice-bar-line-height-const: 24px;
@notice-bar-icon-size-const: 16px;
@notice-bar-icon-min-width-const: 24px;

:root {
  .declare(notice-bar-height, @notice-bar-height-const);
  .declare(notice-bar-padding, @notice-bar-padding);
  .declare(notice-bar-wrappable-padding, @notice-bar-wrappable-padding);
  .declare(notice-bar-text-color, @notice-bar-text-color);
  .declare(notice-bar-font-size, @notice-bar-font-size);
  .declare(notice-bar-line-height, @notice-bar-line-height-const);
  .declare(notice-bar-background-color, @notice-bar-background-color);
  .declare(notice-bar-icon-size, @notice-bar-icon-size-const);
  .declare(notice-bar-icon-min-width, @notice-bar-icon-min-width-const);
}
