@import './var.less';
@import './css-declare.less';

.set-notice-bar-theme(@prefix, @color, @background,  @icon) {
  .@{notice-bar-prefix-cls}.@{notice-bar-prefix-cls}-@{prefix} {
    color: @color;
    background-color: @background;

    .@{notice-bar-prefix-cls}-icon {
      color: @icon;
    }
  }
}

.@{notice-bar-prefix-cls} {
  display: flex;
  align-items: flex-start;
  padding: ~`varv('notice-bar-padding') `;
  color: ~`varv('notice-bar-text-color') `;
  line-height: ~`varv('notice-bar-line-height') `;
  white-space: nowrap;
  background-color: ~`varv('notice-bar-background-color') `;

  &-icon {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    min-width: ~`varv('notice-bar-icon-min-size') `;
    height: ~`varv('notice-bar-line-height') `;
    color: ~`varv('notice-bar-icon-text-color') `;
    font-size: ~`varv('notice-bar-icon-font-size') `;
    cursor: pointer;
  }

  &-right-icon {
    justify-content: flex-end;
  }

  &-wrapable {
    white-space: normal;
  }

  &-wrapper {
    flex: 1;
  }

  &-content {
    display: inline;
  }

  &-scrollable &-wrapper {
    overflow: hidden;
    line-height: 0;
  }

  &-scrollable &-content {
    display: inline-block;
    overflow: hidden;
    line-height: ~`varv('notice-bar-line-height') `;
  }

  &:not(&-scrollable):not(&-wrapable) &-wrapper {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.set-notice-bar-theme(success, ~`varv('notice-bar-success-text-color')`, ~`varv('notice-bar-success-background-color')`,~`varv('notice-bar-success-icon-text-color')`);
.set-notice-bar-theme(error, ~`varv('notice-bar-error-text-color')`, ~`varv('notice-bar-error-background-color')`,~`varv('notice-bar-error-icon-text-color')`);
.set-notice-bar-theme(warning, ~`varv('notice-bar-warning-text-color')`, ~`varv('notice-bar-warning-background-color')`,~`varv('notice-bar-warning-icon-text-color')`);
.set-notice-bar-theme(info, ~`varv('notice-bar-info-text-color')`, ~`varv('notice-bar-info-background-color')`,~`varv('notice-bar-info-icon-text-color')`);
