@import './var.less';
@import './css-declare.less';

.set-notice-bar-theme(@prefix, @color, @background,  @icon) {
  .@{notice-bar-prefix-cls}.@{notice-bar-prefix-cls}-@{prefix} {
    background-color: @background;
    color: @color;

    .@{notice-bar-prefix-cls}-icon {
      color: @icon;
    }
  }
}

.@{notice-bar-prefix-cls} {
  display: flex;
  align-items: center;
  background-color: @notice-bar-background-color;
  padding: @notice-bar-padding;
  height: @notice-bar-height;
  color: @notice-bar-text-color;
  line-height: @notice-bar-line-height;
  white-space: nowrap;

  &-icon {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    cursor: pointer;
    min-width: @notice-bar-icon-min-width;
    font-size: @notice-bar-icon-size;
  }

  &-right-icon {
    justify-content: flex-end;
  }

  &-wrappable {
    padding: @notice-bar-wrappable-padding;
    height: auto;
    white-space: normal;
  }

  &-wrapper {
    flex: 1;
  }

  &-content {
    display: inline;
  }

  &-scrollable &-wrapper {
    overflow: hidden;
    line-height: 0;
  }

  &-scrollable &-content {
    display: inline-block;
    overflow: hidden;
    line-height: @notice-bar-line-height;
  }

  &:not(&-scrollable):not(&-wrappable) &-wrapper {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
