@import '../../style/themes/default.less';

@notice-bar-prefix-cls: ~'@{prefix-cls}-notice-bar';
@notice-bar-padding: 10px @padding-md;
@notice-bar-line-height: @line-height-md;
@notice-bar-font-size: @font-size-md;
@notice-bar-color: @notification-text-color;
@notice-bar-background-color: @notification-background-color;
@notice-bar-icon-color: @notification-text-color;
@notice-bar-icon-font-size: @font-size-lg;
@notice-bar-icon-min-size: 24px;

@notice-bar-success-color: @gray-8;
@notice-bar-success-background-color: #ebf5ed;
@notice-bar-success-icon-color: @success-color;

@notice-bar-error-color: @gray-8;
@notice-bar-error-background-color: #fbe7e7;
@notice-bar-error-icon-color: @danger-color;

@notice-bar-warning-color: @gray-8;
@notice-bar-warning-background-color: @notification-background-color;
@notice-bar-warning-icon-color: @notification-text-color;

@notice-bar-info-color: @gray-8;
@notice-bar-info-background-color: #e8effa;
@notice-bar-info-icon-color: #155bd4;

.set-notice-bar-theme(@prefix, @color, @background,  @icon) {
  .@{notice-bar-prefix-cls}.@{notice-bar-prefix-cls}-@{prefix} {
    color: @color;
    background-color: @background;

    .@{notice-bar-prefix-cls}-icon {
      color: @icon;
    }
  }
}

.@{notice-bar-prefix-cls} {
  display: flex;
  align-items: flex-start;
  padding: @notice-bar-padding;
  color: @notice-bar-color;
  line-height: @notice-bar-line-height;
  white-space: nowrap;
  background-color: @notice-bar-background-color;

  &-icon {
    display: flex;

    flex-shrink: 0;
    align-items: center;
    min-width: @notice-bar-icon-min-size;
    height: @notice-bar-line-height;
    color: @notice-bar-icon-color;
    font-size: @notice-bar-icon-font-size;
    cursor: pointer;
  }

  &-right-icon {
    justify-content: flex-end;
  }

  &-wrapable {
    white-space: normal;
  }

  &-wrapper {
    flex: 1;
  }

  &-content {
    display: inline;
  }

  &-scrollable &-wrapper {
    overflow: hidden;
    line-height: 0;
  }

  &-scrollable &-content {
    display: inline-block;
    overflow: hidden;
    line-height: @notice-bar-line-height;
  }

  &:not(&-scrollable):not(&-wrapable) &-wrapper {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.set-notice-bar-theme(success, @notice-bar-success-color, @notice-bar-success-background-color,@notice-bar-success-icon-color);
.set-notice-bar-theme(error, @notice-bar-error-color, @notice-bar-error-background-color,@notice-bar-error-icon-color);
.set-notice-bar-theme(warning, @notice-bar-warning-color, @notice-bar-warning-background-color,@notice-bar-warning-icon-color);
.set-notice-bar-theme(info, @notice-bar-info-color, @notice-bar-info-background-color,@notice-bar-info-icon-color);
