@import '../../style/themes/index.less';

@notice-bar-prefix-cls: ~'@{prefix-cls}-notice-bar';

@notice-bar-height-const: 40px;
@notice-bar-height: ~`varv('notice-bar-height') `;
@notice-bar-padding: 0 @var-padding-md;
@notice-bar-wrapable-padding: @var-padding-xs @var-padding-md;
@notice-bar-text-color: @var-orange-dark;
@notice-bar-font-size: @var-font-size-md;
@notice-bar-line-height-const: 24px;
@notice-bar-line-height: ~`varv('notice-bar-line-height') `;
@notice-bar-background-color: @var-orange-light;
@notice-bar-icon-size-const: 16px;
@notice-bar-icon-size: ~`varv('notice-bar-icon-size') `;
@notice-bar-icon-min-width-const: 24px;
@notice-bar-icon-min-width: ~`varv('notice-bar-icon-min-width') `;
