@import '../../style/themes/index.less';

@notice-bar-prefix-cls: ~'@{prefix-cls}-notice-bar';

@notice-bar-padding-const: 10px @var-padding-md;
@notice-bar-padding: ~`varv('notice-bar-padding') `;
@notice-bar-line-height: @var-line-height-md;
@notice-bar-font-size: @var-font-size-md;
@notice-bar-text-color: @var-orange-dark;
@notice-bar-background-color: @var-orange-light;
@notice-bar-icon-text-color: @var-orange-dark;
@notice-bar-icon-font-size: @var-font-size-lg;
@notice-bar-icon-min-size-const: 24px;
@notice-bar-icon-min-size: ~`varv('notice-bar-icon-min-size') `;

@notice-bar-success-text-color: @var-gray-8;
@notice-bar-success-background-color-const: #ebf5ed;
@notice-bar-success-background-color: ~`varv(
    'notice-bar-success-background-color'
  )
  `;
@notice-bar-success-background-color: ~`varv(
    'notice-bar-success-background-color'
  )
  `;
@notice-bar-success-icon-text-color: @var-success-color;

@notice-bar-error-text-color: @var-gray-8;
@notice-bar-error-background-color-const: #fbe7e7;
@notice-bar-error-background-color: ~`varv('notice-bar-error-background-color')
  `;
@notice-bar-error-background-color: ~`varv('notice-bar-error-background-color')
  `;
@notice-bar-error-icon-text-color: @var-danger-color;

@notice-bar-warning-text-color: @var-gray-8;
@notice-bar-warning-background-color: @var-orange-light;
@notice-bar-warning-icon-text-color: @var-orange;

@notice-bar-info-text-color: @var-gray-8;
@notice-bar-info-background-color-const: #e8effa;
@notice-bar-info-background-color: ~`varv('notice-bar-info-background-color') `;
@notice-bar-info-background-color: ~`varv('notice-bar-info-background-color') `;
@notice-bar-info-icon-color-const: #155bd4;
@notice-bar-info-icon-color: ~`varv('notice-bar-info-icon-color') `;
@notice-bar-info-icon-text-color: ~`varv('notice-bar-info-icon-color') `;
