@import '../../style/core/mixins/var.less';
@import './var.less';

// automatic generated via cli

@skeleton-row-height-const: 16px;
@skeleton-title-width-const: 40%;
@skeleton-avatar-size-const: 32px;
@skeleton-animation-duration-const: 1.2s;

:root {
  .declare(skeleton-row-height, @skeleton-row-height-const);
  .declare(skeleton-row-background-color, @skeleton-row-background-color);
  .declare(skeleton-row-margin-top, @skeleton-row-margin-top);
  .declare(skeleton-title-width, @skeleton-title-width-const);
  .declare(skeleton-avatar-size, @skeleton-avatar-size-const);
  .declare(skeleton-avatar-background-color, @skeleton-avatar-background-color);
  .declare(skeleton-animation-duration, @skeleton-animation-duration-const);
}
