@import '../../style/themes/index.less';

@skeleton-prefix-cls: ~'@{prefix-cls}-skeleton';
@skeleton-animation-name: ~'@{prefix-cls}-skeleton-loading';

@skeleton-row-height-const: 16px;
@skeleton-row-height: ~`varv('skeleton-row-height') `;
@skeleton-row-background-color: @var-active-color;
@skeleton-row-margin-top: @var-padding-sm;
@skeleton-title-width-const: 40%;
@skeleton-title-width: ~`varv('skeleton-title-width') `;
@skeleton-avatar-size-const: 32px;
@skeleton-avatar-size: ~`varv('skeleton-avatar-size') `;
@skeleton-avatar-background-color: @var-active-color;
@skeleton-animation-duration-const: 1.2s;
@skeleton-animation-duration: ~`varv('skeleton-animation-duration') `;
