@import '../../style/core/mixins/reset.less';
@import './css-declare.less';

@gap: 6px;

.@{number-keyboard-prefix-cls} {
  &[class*='number-keyboard'] {
    z-index: @number-keyboard-z-index;
    background-color: @number-keyboard-background-color;
    user-select: none;
  }

  &-header {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    padding-top: @gap;
    height: @number-keyboard-title-height;
  }

  &-title {
    margin: 0;
    max-width: 60%;
    color: @number-keyboard-title-color;
    font-weight: normal;
    font-size: @number-keyboard-title-font-size;
  }

  &-close-button {
    display: flex;
    position: absolute;
    top: @gap;
    right: 0;
    bottom: 0;
    align-items: center;
    cursor: pointer;
    padding: @number-keyboard-close-padding;
    color: @number-keyboard-close-color;
    font-size: @number-keyboard-close-font-size;
  }

  &-body {
    display: flex;
    flex-wrap: wrap;
    gap: @gap;
    padding: @gap @gap 22px;
  }

  &-main {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    gap: @gap;
  }

  &-key {
    .reset();

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: @var-border-radius-lg;
    background-color: @number-keyboard-key-background-color;
    height: @number-keyboard-key-height;
    font-size: @number-keyboard-key-font-size;
    line-height: @var-line-height-base;

    &-active {
      background-color: @number-keyboard-key-active-color;
    }
  }

  &-delete-button {
    flex: 1;
    font-size: @number-keyboard-delete-font-size;
  }

  &-delete-icon {
    width: 32px;
    height: 22px;
  }

  &-collapse-icon {
    width: 30px;
    height: 24px;
  }

  & &-loading-icon {
    color: @number-keyboard-button-text-color;
    font-size: 24px;
  }

  &-haptic-active {
    opacity: @var-active-opacity;
  }

  &-main &-key {
    width: ~'calc(calc(100% - @{gap} - @{gap}) / 3)';
  }

  &-main &-key-wider {
    width: ~'calc(calc(100% - @{gap}) / 3 * 2)';
  }

  &-sidebar {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: @gap;
  }

  &-theme-custom &-main {
    flex: 3;
  }

  &-side &-delete-button {
    flex: 1;
  }

  &-custom-close-button {
    flex: 1;
    background-color: @number-keyboard-button-background-color;
    color: @number-keyboard-button-text-color;
    font-size: @number-keyboard-delete-font-size;
  }
}
