@import '../../style/themes/index.less';

@number-keyboard-prefix-cls: ~'@{prefix-cls}-number-keyboard';
@number-keyboard-short-prefix-cls: ~'@{prefix-cls}-nkb';

@number-keyboard-background-color: @var-gray-2;
@number-keyboard-key-height-const: 48px;
@number-keyboard-key-height: ~`varv('number-keyboard-key-height') `;
@number-keyboard-key-font-size-const: 28px;
@number-keyboard-key-font-size: ~`varv('number-keyboard-key-font-size') `;
@number-keyboard-key-active-color: @var-gray-3;
@number-keyboard-key-background-color: @var-white;
@number-keyboard-delete-font-size: @var-font-size-lg;
@number-keyboard-title-color: @var-gray-7;
@number-keyboard-title-height-const: 34px;
@number-keyboard-title-height: ~`varv('number-keyboard-title-height') `;
@number-keyboard-title-font-size: @var-font-size-lg;
@number-keyboard-close-padding-const: 0 @var-padding-md;
@number-keyboard-close-padding: ~`varv('number-keyboard-close-padding') `;
@number-keyboard-close-color: @var-text-link-color;
@number-keyboard-close-font-size: @var-font-size-md;
@number-keyboard-button-text-color: @var-white;
@number-keyboard-button-background-color: @var-primary-color;
@number-keyboard-z-index-const: 100;
@number-keyboard-z-index: ~`varv('number-keyboard-z-index') `;
