button {
  margin: 0;
  outline: none;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  font-family: inherit;
  border: none;
  background-color: transparent;
  appearance: none;
}

* {
  box-sizing: border-box;
}

:root {
  --doc-primary: #4fc08d;
  --doc-bg: #f7f8fa;
  --doc-demo-menu-active-bg: #e4e8ee;
  --doc-demo-menu-hover-bg: #eef0f4;
  --doc-demo-bg: var(--doc-bg);
  --doc-menu-bg: #ebfff0;
  --doc-header-bg: #001938;
  --doc-accent1: #1989fa;
  --doc-gray700: #001938;
  --doc-gray600: #323233;
  --doc-gray500: #455a64;
  --doc-text: var(--doc-gray700);
  --doc-text2: rgba(69, 90, 100, 0.6);

  --doc-font-size-1: 14px;

  --doc-header-height: 64px;
  --doc-sidebar-width: 220px;
  --doc-demo-device-width: 375px;
  --doc-demo-device-max-height: 667px;
  --doc-demo-header-height: 56px;
  --doc-max-width: 1680px;
  --doc-demo-content-min-height: calc(100vh - var(--doc-demo-header-height));
  --doc-side-bar-margin-left: calc(var(--doc-max-width) / -2);
  --doc-demo-device-margin-left: calc(
    var(--doc-max-width) / 2 - var(--doc-demo-device-width)
  );
  --doc-content-max-width: calc(
    var(--doc-max-width) - var(--doc-sidebar-width) -
      var(--doc-demo-device-width)
  );
  --doc-content-margin-left: var(--doc-sidebar-width);
  --doc-content-margin-right: var(--doc-demo-device-width);
  --doc-content-width-offset: calc(
    var(--doc-sidebar-width) - var(--doc-demo-device-width)
  );

  --doc-radii-sm: 4px;
  --doc-radii-md: 8px;
  --doc-radii-xl: 12px;
  --doc-radii-max: 300px;

  --doc-shadows-dropdown: 0 4px 12px #ebedf0;
  --doc-shadows-normal: 0 8px 12px #ebedf0;

  --doc-zindex-normal: 99;
}
