.doc-markdown-body {
  h1 {
    margin: 0 0 30px;
    font-size: 34px;
    cursor: default;
    font-weight: 400;
  }

  h2 {
    color: #323233;
    font-weight: 400;
    line-height: 1.5;
    margin: 45px 0 20px;
    font-size: 26px;
  }
}

.doc-card {
  margin-bottom: 24px;
  padding: 24px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 8px 12px #ebedf0;
}
.doc-card > p a,
.doc-card > ul a,
.doc-card > table a,
.doc-card > blockquote a {
  margin: 0 1px;
  color: #1989fa;
  -webkit-font-smoothing: auto;
}
.doc-card > p a:hover,
.doc-card > ul a:hover,
.doc-card > table a:hover,
.doc-card > blockquote a:hover {
  color: #0570db;
}
.doc-card > p a:active,
.doc-card > ul a:active,
.doc-card > table a:active,
.doc-card > blockquote a:active {
  color: #0456a9;
}
.doc-card > h3,
.doc-card > h4,
.doc-card > h5,
.doc-card > h6 {
  color: #323233;
  font-weight: 400;
  line-height: 1.6;
}
.doc-card > h3[id],
.doc-card > h4[id],
.doc-card > h5[id],
.doc-card > h6[id] {
  cursor: pointer;
}
.doc-card > h3 {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 20px;
}
.doc-card > h4 {
  margin: 24px 0 12px;
  font-weight: 600;
  font-size: 18px;
}
.doc-card > h5 {
  margin: 24px 0 12px;
  font-weight: 600;
  font-size: 16px;
}
.doc-card > p {
  margin-top: 8px;
}
.doc-card > p,
.doc-card > blockquote p {
  color: #34495e;
  font-size: 15px;
  line-height: 26px;
}
.doc-card > p strong,
.doc-card > blockquote p strong {
  color: #000;
}
.doc-card > table {
  width: 100%;
  margin-top: 12px;
  color: #34495e;
  font-size: 14px;
  line-height: 1.5;
  border-collapse: collapse;
}
.doc-card > table th {
  padding: 8px 10px;
  font-weight: 600;
  text-align: left;
}
.doc-card > table th:first-child {
  padding-left: 0;
}
.doc-card > table th:last-child {
  padding-right: 0;
}
.doc-card > table td {
  padding: 8px;
  border-top: 1px solid #f1f4f8;
}
.doc-card > table td:first-child {
  padding-left: 0;
}
.doc-card > table td:first-child code {
  margin: 0;
  padding: 2px 6px;
  color: #1989fa;
  font-weight: 600;
  font-size: 11px;
  background-color: rgba(25, 137, 250, 0.1);
  border-radius: 20px;
}

.doc-card > table td:last-child {
  padding-right: 0;
}
.doc-card > table em {
  display: inline-block;
  color: #4fc08d;
  font-size: 14px;
  font-family: Source Code Pro, Monaco, Inconsolata, monospace;
  font-style: normal;
  max-width: 300px;
  -webkit-font-smoothing: auto;
}
.doc-card > ul {
  margin: 12px 0;
}
.doc-card > ul li,
.doc-card > ol li {
  position: relative;
  margin: 5px 0 5px 10px;
  padding-left: 15px;
  color: #34495e;
  font-size: 15px;
  line-height: 26px;
}
.doc-card > ul li:before,
.doc-card > ol li:before {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 6px;
  height: 6px;
  margin-top: 10px;
  border: 1px solid #666;
  border-radius: 50%;
  content: '';
}
.doc-card > hr {
  margin: 30px 0;
  border: 0 none;
  border-top: 1px solid #eee;
}
.doc-card > p code,
.doc-card > ul code,
.doc-card > ol code,
.doc-card > table code {
  display: inline;
  margin: 0 2px;
  padding: 2px 5px;
  font-size: 14px;
  font-family: inherit;
  font-weight: 600;
  word-break: keep-all;
  border-radius: 4px;
  -webkit-font-smoothing: antialiased;
}
.doc-card > blockquote {
  margin: 16px 0 0;
  padding: 16px;
  background-color: #ecf9ff;
  border-radius: 20px;
}
.doc-card > img,
.doc-card > p img {
  width: 100%;
  margin: 16px 0;
  border-radius: 20px;
}

code[class*='language-']::-moz-selection,
pre[class*='language-']::-moz-selection,
code[class*='language-'] ::-moz-selection,
pre[class*='language-'] ::-moz-selection {
  background: #cceae7;
  color: #263238;
}

code[class*='language-']::selection,
pre[class*='language-']::selection,
code[class*='language-'] ::selection,
pre[class*='language-'] ::selection {
  background: #cceae7;
  color: #263238;
}
/* Code blocks */
pre[class*='language-'] {
  margin: 20px 0 0;
}

code {
  position: relative;
  display: block;
  padding: 16px 20px;
  overflow-x: auto;
  color: #58727e;
  font-weight: 400;
  font-size: 14px;
  font-family: Source Code Pro, Monaco, Inconsolata, monospace;
  line-height: 26px;
  white-space: pre-wrap;
  word-wrap: break-word;
  -webkit-font-smoothing: auto;
  background-color: #f8f8f8;
  border-radius: 20px;
}

.language-css > code,
.language-sass > code,
.language-scss > code {
  color: #f76d47;
}

[class*='language-'] .namespace {
  opacity: 0.7;
}

.token.atrule {
  color: #7c4dff;
}

.token.attr-name {
  color: #39adb5;
}

.token.attr-value {
  color: #f6a434;
}

.token.attribute {
  color: #f6a434;
}

.token.boolean {
  color: #7c4dff;
}

.token.builtin {
  color: #39adb5;
}

.token.cdata {
  color: #39adb5;
}

.token.char {
  color: #39adb5;
}

.token.class {
  color: #39adb5;
}

.token.class-name {
  color: #6182b8;
}

.token.comment {
  color: #aabfc9;
}

.token.constant {
  color: #7c4dff;
}

.token.deleted {
  color: #e53935;
}

.token.doctype {
  color: #aabfc9;
}

.token.entity {
  color: #e53935;
}

.token.function {
  color: #7c4dff;
}

.token.hexcode {
  color: #f76d47;
}

.token.id {
  color: #7c4dff;
  font-weight: bold;
}

.token.important {
  color: #7c4dff;
  font-weight: bold;
}

.token.inserted {
  color: #39adb5;
}

.token.keyword {
  color: #7c4dff;
}

.token.number {
  color: #f76d47;
}

.token.operator {
  color: #39adb5;
}

.token.prolog {
  color: #aabfc9;
}

.token.property {
  color: #39adb5;
}

.token.pseudo-class {
  color: #f6a434;
}

.token.pseudo-element {
  color: #f6a434;
}

.token.punctuation {
  color: #39adb5;
}

.token.regex {
  color: #6182b8;
}

.token.selector {
  color: #e53935;
}

.token.string {
  color: #f6a434;
}

.token.symbol {
  color: #7c4dff;
}

.token.tag {
  color: #e53935;
}

.token.unit {
  color: #f76d47;
}

.token.url {
  color: #e53935;
}

.token.variable {
  color: #e53935;
}
