@import '../../style/themes/index.less';

@dialog-prefix-cls: ~'@{prefix-cls}-dialog';

@dialog-width-const: 320px;
@dialog-width: ~`varv('dialog-width') `;
@dialog-small-screen-width: 90%;
@dialog-font-size: @var-font-size-lg;
@dialog-border-radius-const: 16px;
@dialog-border-radius: ~`varv('dialog-border-radius') `;
@dialog-background-color: @background-color-light;
@dialog-header-line-height-const: 24px;
@dialog-header-line-height: ~`varv('dialog-header-line-height') `;
@dialog-header-padding-top-const: 26px;
@dialog-header-padding-top: ~`varv('dialog-header-padding-top') `;
@dialog-header-font-weight: @var-font-weight-bold;
@dialog-header-isolated-padding-const: @var-padding-lg 0;
@dialog-header-isolated-padding: ~`varv('dialog-header-isolated-padding') `;

@dialog-message-padding: @var-padding-lg;
@dialog-message-font-size: @var-font-size-md;
@dialog-message-line-height: @var-line-height-md;
@dialog-message-max-height-const: 60vh;
@dialog-message-max-height: ~`varv('dialog-message-max-height') `;
@dialog-has-title-message-text-color: @var-gray-7;
@dialog-has-title-message-padding-top: @var-padding-xs;

@dialog-button-height-const: 48px;
@dialog-button-height: ~`varv('dialog-button-height') `;
@dialog-round-button-height-const: 36px;
@dialog-round-button-height: ~`varv('dialog-round-button-height') `;
@dialog-confirm-button-text-color: @var-danger-color;
