@import '../../style/core/mixins/var.less';
@import './var.less';

// automatic generated via cli

@badge-size-const: 16px;
@badge-padding-const: ~'0 3px';
@badge-dot-size-const: 8px;
@badge-font-family-const: -apple-system-font, Helvetica Neue, Arial, sans-serif;

:root {
  .declare(badge-size, @badge-size-const);
  .declare(badge-color, @badge-color);
  .declare(badge-padding, @badge-padding-const);
  .declare(badge-font-size, @badge-font-size);
  .declare(badge-font-weight, @badge-font-weight);
  .declare(badge-border-color, @badge-border-color);
  .declare(badge-border-width, @badge-border-width);
  .declare(badge-border-radius, @badge-border-radius);
  .declare(badge-background-color, @badge-background-color);
  .declare(badge-dot-color, @badge-dot-color);
  .declare(badge-dot-size, @badge-dot-size-const);
  .declare(badge-font-family, @badge-font-family-const);
}
