@import './var.less';
@import './css-declare.less';

.@{badge-prefix-cls} {
  position: relative;
  display: inline-block;
  .badge-base() {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: ~`varv('badge-padding') `;
    color: ~`varv('badge-color') `;
    font-weight: ~`varv('badge-font-weight') `;
    font-size: ~`varv('badge-font-size') `;
    font-family: ~`varv('badge-font-family') `;
    line-height: 1.2;
    background-color: ~`varv('badge-background-color') `;
    border: @var-border-width-base solid ~`varv('badge-border-color') `;
    border-radius: ~`varv('badge-border-radius') `;
  }

  &-content {
    .badge-base();
    min-width: ~`varv('badge-size') `;
    min-height: ~`varv('badge-size') `;
  }

  &-number {
    position: relative;
    display: inline-block;
    overflow: hidden;

    &-wrapper {
      display: inline-flex;
      align-items: center;
    }

    &-scroller {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background-color: inherit;

      &-value {
        display: block;
      }
      &--reverse {
        top: initial;
        bottom: 0;
      }
    }
  }

  &-dot {
    .badge-base();
    width: ~`varv('badge-dot-size') `;
    height: ~`varv('badge-dot-size') `;
    background-color: ~`varv('badge-dot-color') `;
  }

  &-fixed {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate3d(50%, -50%, 0);
  }

  &-top-left {
    left: 0;
    top: 0;
    right: unset;
  }

  &-bottom-left {
    left: 0;
    bottom: 0;
    top: unset;
    right: unset;
  }

  &-bottom-right {
    bottom: 0;
    right: 0;
    top: unset;
  }
}
