@import './var.less';
@import './css-declare.less';

.@{badge-prefix-cls} {
  display: inline-block;
  position: relative;
  .badge-base() {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: @var-border-width-base solid @badge-border-color;
    border-radius: @badge-border-radius;
    background-color: @badge-background-color;
    padding: @badge-padding;
    color: @badge-color;
    font-weight: @badge-font-weight;
    font-size: @badge-font-size;
    line-height: 1.2;
    font-family: @badge-font-family;
  }

  &-content {
    .badge-base();
    min-width: @badge-size;
    min-height: @badge-size;
  }

  &-number {
    display: inline-block;
    position: relative;
    overflow: hidden;

    &-wrapper {
      display: inline-flex;
      align-items: center;
    }

    &-scroller {
      position: absolute;
      top: 0;
      left: 0;
      background-color: inherit;
      width: 100%;

      &-value {
        display: block;
      }
      &--reverse {
        top: initial;
        bottom: 0;
      }
    }
  }

  &-dot {
    .badge-base();
    background-color: @badge-dot-color;
    width: @badge-dot-size;
    height: @badge-dot-size;
  }

  &-fixed {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate3d(50%, -50%, 0);
  }

  &-top-left {
    top: 0;
    right: unset;
    left: 0;
  }

  &-bottom-left {
    top: unset;
    right: unset;
    bottom: 0;
    left: 0;
  }

  &-bottom-right {
    top: unset;
    right: 0;
    bottom: 0;
  }
}
