@import '../../style/themes/index.less';

@badge-prefix-cls: ~'@{prefix-cls}-badge';

@badge-size-const: 16px;
@badge-size: ~`varv('badge-size') `;
@badge-color: @var-white;
@badge-padding-const: ~'0 3px';
@badge-padding: ~`varv('badge-padding') `;
@badge-font-size: @var-font-size-sm;
@badge-font-weight: @var-font-weight-bold;
@badge-border-color: @var-white;
@badge-border-width: @var-border-width-base;
@badge-border-radius: @var-border-radius-max;
@badge-background-color: @var-danger-color;
@badge-dot-color: @var-danger-color;
@badge-dot-size-const: 8px;
@badge-dot-size: ~`varv('badge-dot-size') `;
@badge-font-family-const: -apple-system-font, Helvetica Neue, Arial, sans-serif;
@badge-font-family: ~`varv('badge-font-family') `;
