@import '../../style/themes/default.less';

@count-down-prefix-cls: ~'@{prefix-cls}-count-down';
@count-down-text-color: @text-color;
@count-down-font-size: @font-size-md;
@count-down-line-height: @line-height-md;

.@{count-down-prefix-cls} {
  font-size: @count-down-font-size;
  color: @count-down-text-color;
  line-height: @count-down-line-height;
}
