@import '../../style/themes/index.less';

@count-down-prefix-cls: ~'@{prefix-cls}-count-down';
@count-down-text-color: @var-text-color;
@count-down-font-size: @var-font-size-md;
@count-down-line-height: @var-line-height-md;
