@import './var.less';
@import './css-declare.less';

.@{slider-prefix-cls} {
  position: relative;
  cursor: pointer;
  margin: ~'calc((@{slider-button-height} - @{slider-bar-height}) / 2)' 0;
  border-radius: @var-border-radius-max;
  height: @slider-bar-height;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: inherit;
    margin: ~'calc((@{slider-button-height} - @{slider-bar-height}) / -2)' 0;
    content: '';
  }

  &-rail {
    border-radius: inherit;
    background-color: @slider-inactive-background-color;
    height: 100%;
  }

  &-track {
    position: absolute;
    top: 0;
    transition-property: left, width, right;
    border-radius: inherit;
    background-color: @slider-active-background-color;
    height: 100%;
  }

  &-thumb {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition-property: left, right;
    cursor: grab;
    touch-action: pan-y;
  }

  &-thumb-content {
    display: flex;
    box-shadow: @slider-button-box-shadow;
    border-radius: @slider-button-border-radius;
    background-color: @var-white;
    width: @slider-button-width;
    height: @slider-button-height;
  }

  &-animating {
    .@{slider-prefix-cls} {
      &-thumb,
      &-track {
        transition-duration: @var-animation-duration-fast;
      }
    }
  }

  &-disabled {
    opacity: @slider-disabled-opacity;
    cursor: not-allowed;
    .@{slider-prefix-cls}-thumb {
      cursor: not-allowed;
    }
  }

  &-readonly {
    cursor: unset;
    .@{slider-prefix-cls}-thumb {
      cursor: unset;
    }
  }

  &-reverse {
    .@{slider-prefix-cls} {
      &-thumb {
        transform: translate(50%, -50%);
      }

      &-vertical &-thumb {
        transform: translate(-50%, 50%);
      }
    }
  }

  &-vertical {
    display: inline-block;
    margin: 0 ~'calc((@{slider-button-height} - @{slider-bar-height}) / 2)';
    width: @slider-bar-height;
    height: 100%;

    .@{slider-prefix-cls} {
      &::before {
        margin: 0 ~'calc((@{slider-button-height} - @{slider-bar-height}) / -2)';
      }

      &-track {
        left: 0;
        width: 100%;
        height: unset;
      }

      &-thumb {
        top: unset;
        left: 50%;
        touch-action: pan-x;
      }
    }
  }
}
