@import '../../style/themes/index.less';

@slider-prefix-cls: ~'@{prefix-cls}-slider';

@slider-active-background-color: @var-primary-color;
@slider-inactive-background-color: @var-gray-3;
@slider-disabled-opacity: @var-disabled-opacity;
@slider-bar-height-const: 2px;
@slider-bar-height: ~`varv('slider-bar-height') `;
@slider-button-width-const: 24px;
@slider-button-width: ~`varv('slider-button-width') `;
@slider-button-height-const: 24px;
@slider-button-height: ~`varv('slider-button-height') `;
@slider-button-border-radius-const: 50%;
@slider-button-border-radius: ~`varv('slider-button-border-radius') `;
@slider-button-background-color: @var-white;
@slider-button-box-shadow-const: 0 1px 2px rgba(0, 0, 0, 0.5);
@slider-button-box-shadow: ~`varv('slider-button-box-shadow') `;
