@import '../../style/core/mixins/var.less';
@import './var.less';

// automatic generated via cli

@action-sheet-max-height-const: 80%;
@action-sheet-header-height-const: 48px;
@action-sheet-close-icon-size-const: 22px;
@action-sheet-close-icon-padding-const: @var-padding-md;
@action-sheet-loading-icon-size-const: 22px;

:root {
  .declare(action-sheet-max-height, @action-sheet-max-height-const);
  .declare(action-sheet-header-height, @action-sheet-header-height-const);
  .declare(action-sheet-header-font-size, @action-sheet-header-font-size);
  .declare(action-sheet-description-color, @action-sheet-description-color);
  .declare(action-sheet-description-font-size, @action-sheet-description-font-size);
  .declare(action-sheet-description-line-height, @action-sheet-description-line-height);
  .declare(action-sheet-item-background, @action-sheet-item-background);
  .declare(action-sheet-item-font-size, @action-sheet-item-font-size);
  .declare(action-sheet-item-line-height, @action-sheet-item-line-height);
  .declare(action-sheet-item-text-color, @action-sheet-item-text-color);
  .declare(action-sheet-item-disabled-text-color, @action-sheet-item-disabled-text-color);
  .declare(action-sheet-sub-name-color, @action-sheet-sub-name-color);
  .declare(action-sheet-sub-name-font-size, @action-sheet-sub-name-font-size);
  .declare(action-sheet-sub-name-line-height, @action-sheet-sub-name-line-height);
  .declare(action-sheet-close-icon-size, @action-sheet-close-icon-size-const);
  .declare(action-sheet-close-icon-color, @action-sheet-close-icon-color);
  .declare(action-sheet-close-icon-padding, @action-sheet-close-icon-padding-const);
  .declare(action-sheet-cancel-text-color, @action-sheet-cancel-text-color);
  .declare(action-sheet-cancel-padding-top, @action-sheet-cancel-padding-top);
  .declare(action-sheet-cancel-padding-color, @action-sheet-cancel-padding-color);
  .declare(action-sheet-loading-icon-size, @action-sheet-loading-icon-size-const);
}
