@import '../../style/core/mixins/hairline.less';
@import './var.less';
@import './css-declare.less';

.@{action-sheet-prefix-cls} {
  display: flex;
  flex-direction: column;
  max-height: ~`varv('action-sheet-max-height') `;
  overflow: hidden;
  color: @var-text-color;

  &-title {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    height: ~`varv('action-sheet-header-height') `;
    margin-bottom: 0;
    font-weight: @var-font-weight-bold;
    font-size: ~`varv('action-sheet-header-font-size') `;
    text-align: center;
  }

  &-description {
    position: relative;
    flex-shrink: 0;
    padding: 20px @var-padding-md;
    color: ~`varv('action-sheet-description-color') `;
    font-size: ~`varv('action-sheet-description-font-size') `;
    line-height: ~`varv('action-sheet-description-line-height') `;
    text-align: center;

    .hairline-bottom(@var-border-color, @var-padding-md, @var-padding-md);
  }

  &-content {
    flex: 1;
    overflow: auto;
  }

  &-item {
    position: relative;
    display: block;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 14px @var-padding-md;
    color: @var-text-color;
    font-size: ~`varv('action-sheet-item-font-size') `;
    line-height: ~`varv('action-sheet-item-line-height') `;
    text-align: center;
    background-color: ~`varv('action-sheet-item-background') `;
    border: 0;
    cursor: pointer;
    user-select: none;

    &-disabled {
      color: ~`varv('action-sheet-item-disabled-text-color') `;
      cursor: not-allowed;
    }

    &-active {
      background-color: @var-active-color;
    }
  }

  &-sub-name {
    margin-top: @var-padding-xs;
    color: ~`varv('action-sheet-sub-name-color') `;
    font-size: ~`varv('action-sheet-sub-name-font-size') `;
    line-height: ~`varv('action-sheet-sub-name-line-height') `;
  }

  &-gap {
    height: ~`varv('action-sheet-cancel-padding-top') `;
    background-color: ~`varv('action-sheet-cancel-padding-color') `;
  }

  &-cancel {
    flex-shrink: 0;
    color: ~`varv('action-sheet-cancel-text-color') `;
  }

  &-loading-icon {
    font-size: ~`varv('action-sheet-loading-icon-size') `;
  }

  & &-close-icon {
    top: calc(~`varv('action-sheet-header-height') ` / 2);
    right: ~`varv('action-sheet-close-icon-padding') `;
    color: ~`varv('action-sheet-close-icon-color') `;
    font-size: ~`varv('action-sheet-close-icon-size') `;
    transform: translateY(-50%);
  }
}
