@import '../../style/core/mixins/hairline.less';
@import './var.less';
@import './css-declare.less';

.@{action-sheet-prefix-cls} {
  display: flex;
  flex-direction: column;
  max-height: @action-sheet-max-height;
  overflow: hidden;
  color: @var-text-color;

  &-title {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    height: @action-sheet-header-height;
    font-weight: @var-font-weight-bold;
    font-size: @action-sheet-header-font-size;
    text-align: center;
  }

  &-description {
    position: relative;
    flex-shrink: 0;
    padding: 20px @var-padding-md;
    color: @action-sheet-description-color;
    font-size: @action-sheet-description-font-size;
    line-height: @action-sheet-description-line-height;
    text-align: center;

    .hairline-bottom(@var-border-color, @var-padding-md, @var-padding-md);
  }

  &-content {
    flex: 1;
    overflow: auto;
  }

  &-item {
    display: block;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 0;
    background-color: @action-sheet-item-background;
    padding: 14px @var-padding-md;
    width: 100%;
    color: @var-text-color;
    font-size: @action-sheet-item-font-size;
    line-height: @action-sheet-item-line-height;
    user-select: none;
    text-align: center;

    &-disabled {
      cursor: not-allowed;
      color: @action-sheet-item-disabled-text-color;
    }

    &-active {
      background-color: @var-active-color;
    }
  }

  &-sub-name {
    margin-top: @var-padding-xs;
    color: @action-sheet-sub-name-color;
    font-size: @action-sheet-sub-name-font-size;
    line-height: @action-sheet-sub-name-line-height;
  }

  &-gap {
    background-color: @action-sheet-cancel-padding-color;
    height: @action-sheet-cancel-padding-top;
  }

  &-cancel {
    flex-shrink: 0;
    color: @action-sheet-cancel-text-color;
  }

  & &-loading-icon {
    font-size: @action-sheet-loading-icon-size;
  }

  & &-close-icon {
    top: calc(@action-sheet-header-height / 2);
    right: @action-sheet-close-icon-padding;
    transform: translateY(-50%);
    color: @action-sheet-close-icon-color;
    font-size: @action-sheet-close-icon-size;
  }
}
