@import '../../style/themes/index.less';

@action-sheet-prefix-cls: ~'@{prefix-cls}-action-sheet';

@action-sheet-max-height-const: 80%;
@action-sheet-max-height: ~`varv('action-sheet-max-height') `;
@action-sheet-header-height-const: 48px;
@action-sheet-header-height: ~`varv('action-sheet-header-height') `;
@action-sheet-header-font-size: @var-font-size-lg;

@action-sheet-description-color: @var-text-color-2;
@action-sheet-description-font-size: @var-font-size-md;
@action-sheet-description-line-height: @var-line-height-md;

@action-sheet-item-background: @var-white;
@action-sheet-item-font-size: @var-font-size-lg;
@action-sheet-item-line-height: @var-line-height-lg;
@action-sheet-item-text-color: @var-text-color;
@action-sheet-item-disabled-text-color: @var-text-color-3;

@action-sheet-sub-name-color: @var-text-color-2;
@action-sheet-sub-name-font-size: @var-font-size-sm;
@action-sheet-sub-name-line-height: @var-line-height-sm;

@action-sheet-close-icon-size-const: 22px;
@action-sheet-close-icon-size: ~`varv('action-sheet-close-icon-size') `;
@action-sheet-close-icon-color: @var-gray-5;
@action-sheet-close-icon-padding-const: @var-padding-md;
@action-sheet-close-icon-padding: ~`varv('action-sheet-close-icon-padding') `;

@action-sheet-cancel-text-color: @var-gray-7;
@action-sheet-cancel-padding-top: @var-padding-xs;
@action-sheet-cancel-padding-color: @var-background-color;

@action-sheet-loading-icon-size-const: 22px;
@action-sheet-loading-icon-size: ~`varv('action-sheet-loading-icon-size') `;
