@import '../../style/core/mixins/var.less';
@import './var.less';

// automatic generated via cli

@nav-bar-height-const: 46px;
@nav-bar-arrow-size-const: 16px;
@nav-bar-z-index-const: 1;

:root {
  .declare(nav-bar-height, @nav-bar-height-const);
  .declare(nav-bar-background-color, @nav-bar-background-color);
  .declare(nav-bar-arrow-size, @nav-bar-arrow-size-const);
  .declare(nav-bar-icon-color, @nav-bar-icon-color);
  .declare(nav-bar-text-color, @nav-bar-text-color);
  .declare(nav-bar-title-font-size, @nav-bar-title-font-size);
  .declare(nav-bar-title-text-color, @nav-bar-title-text-color);
  .declare(nav-bar-z-index, @nav-bar-z-index-const);
}
