@import '../../style/themes/index.less';

@nav-bar-prefix-cls: ~'@{prefix-cls}-nav-bar';

@nav-bar-height-const: 46px;
@nav-bar-height: ~`varv('nav-bar-height') `;
@nav-bar-background-color: @background-color-light;
@nav-bar-arrow-size-const: 16px;
@nav-bar-arrow-size: ~`varv('nav-bar-arrow-size') `;
@nav-bar-icon-color: @primary-color;
@nav-bar-text-color: @primary-color;
@nav-bar-title-font-size: @font-size-lg;
@nav-bar-title-text-color: @text-color;
@nav-bar-z-index-const: 1;
@nav-bar-z-index: ~`varv('nav-bar-z-index') `;
