@import '../../style/core/mixins/var.less';
@import './var.less';

// automatic generated via cli

@cell-icon-size-const: 16px;
@cell-label-margin-const: 7px;
@cell-large-vertical-padding-const: 14px;
@cell-group-title-padding-const: @var-padding-md @var-padding-md @var-padding-xs;
@cell-group-title-line-height-const: 16px;
@cell-group-inset-margin-const: 0 @var-padding-md;
@cell-group-inset-title-padding-const: @var-padding-md @var-padding-md @var-padding-xs @var-padding-lg;

:root {
  .declare(cell-horizontal-padding, @cell-horizontal-padding);
  .declare(cell-vertical-padding, @cell-vertical-padding);
  .declare(cell-background-color, @cell-background-color);
  .declare(cell-font-size, @cell-font-size);
  .declare(cell-line-height, @cell-line-height);
  .declare(cell-active-color, @cell-active-color);
  .declare(cell-border-color, @cell-border-color);
  .declare(cell-icon-size, @cell-icon-size-const);
  .declare(cell-text-color, @cell-text-color);
  .declare(cell-value-color, @cell-value-color);
  .declare(cell-right-icon-color, @cell-right-icon-color);
  .declare(cell-label-color, @cell-label-color);
  .declare(cell-label-font-size, @cell-label-font-size);
  .declare(cell-label-line-height, @cell-label-line-height);
  .declare(cell-label-margin, @cell-label-margin-const);
  .declare(cell-large-vertical-padding, @cell-large-vertical-padding-const);
  .declare(cell-large-title-font-size, @cell-large-title-font-size);
  .declare(cell-large-label-font-size, @cell-large-label-font-size);
  .declare(cell-group-background-color, @cell-group-background-color);
  .declare(cell-group-title-color, @cell-group-title-color);
  .declare(cell-group-title-padding, @cell-group-title-padding-const);
  .declare(cell-group-title-font-size, @cell-group-title-font-size);
  .declare(cell-group-title-line-height, @cell-group-title-line-height-const);
  .declare(cell-group-inset-border-radius, @cell-group-inset-border-radius);
  .declare(cell-group-inset-margin, @cell-group-inset-margin-const);
  .declare(cell-group-inset-title-padding, @cell-group-inset-title-padding-const);
}
