@import '../../style/core/mixins/hairline.less';
@import './var.less';

.@{cell-prefix-cls} {
  position: relative;
  display: flex;
  align-items: flex-start;
  padding: @cell-vertical-padding @cell-horizontal-padding;
  overflow: hidden;
  font-size: @cell-font-size;
  line-height: @cell-line-height;
  background-color: @cell-background-color;

  &-main {
    flex: 1;
    flex-shrink: 0;
    margin-right: @cell-gap;
  }
  &-title {
    display: flex;
  }

  &-icon {
    display: flex;
    align-items: center;
    margin-right: @cell-icon-gap;
    font-size: @cell-icon-size;
  }

  &-value {
    display: flex;
    align-items: center;
    color: @cell-value-color;
    text-align: right;
  }

  &-right-icon {
    margin-left: @cell-icon-gap;
    color: @cell-right-icon-color;
    font-size: @cell-icon-size;
  }

  &-label {
    margin-top: @cell-label-margin;
    color: @cell-label-color;
    font-size: @cell-label-font-size;
    line-height: @cell-label-line-height;
  }
  &-clickable {
    cursor: pointer;
    &:active {
      background-color: @cell-active-color;
    }
  }

  &-border {
    .hairline(bottom, @cell-border-color);
    &::after {
      margin-right: calc(~'@{cell-horizontal-padding}' * 2);
      margin-left: calc(~'@{cell-horizontal-padding}' * 2);
    }
  }
  &-center {
    align-items: center;
  }

  &-large {
    padding-top: @cell-large-vertical-padding;
    padding-bottom: @cell-large-vertical-padding;
    .@{cell-prefix-cls}-title {
      font-size: @cell-large-title-font-size;
    }
    .@{cell-prefix-cls}-label {
      font-size: @cell-large-label-font-size;
    }
  }
}

.@{cell-group-prefix-cls} {
  position: relative;
  background-color: @cell-group-background-color;
  &-title {
    padding: @cell-group-title-padding;
    color: @cell-group-title-color;
    font-size: @cell-group-title-font-size;
    line-height: @cell-group-title-line-height;
  }
}
