@import '../../style/core/mixins/hairline.less';
@import './var.less';
@import './css-declare.less';

.@{cell-prefix-cls} {
  position: relative;
  display: flex;
  align-items: flex-start;
  padding: ~`varv('cell-vertical-padding') ` ~`varv('cell-horizontal-padding') `;
  overflow: hidden;
  font-size: ~`varv('cell-font-size') `;
  line-height: ~`varv('cell-line-height') `;
  background-color: ~`varv('cell-background-color') `;

  &-title {
    margin-right: @var-padding-sm;
    flex: 1;
  }

  & &-icon {
    display: flex;
    align-items: center;
    height: ~`varv('cell-line-height') `;
    margin-right: @var-padding-base;
    font-size: ~`varv('cell-icon-size') `;
  }

  &-value {
    color: ~`varv('cell-value-color') `;
    text-align: right;
    flex: 1;
    position: relative;
    word-wrap: break-word;
    overflow: hidden;

    &-only {
      text-align: left;
    }
  }

  & &-right-icon {
    margin-left: @var-padding-base;
    color: ~`varv('cell-right-icon-color') `;
    height: ~`varv('cell-line-height') `;
    font-size: ~`varv('cell-icon-size') `;
    display: flex;
    align-items: center;
  }

  &-label {
    margin-top: ~`varv('cell-label-margin') `;
    color: ~`varv('cell-label-color') `;
    font-size: ~`varv('cell-label-font-size') `;
    line-height: ~`varv('cell-label-line-height') `;
  }

  &-active {
    background-color: ~`varv('cell-active-color') `;
  }

  &-border:not(:last-child) {
    .hairline-bottom(~`varv('cell-border-color')`,~`varv('cell-horizontal-padding')`, ~`varv('cell-horizontal-padding')`);
  }

  &-center {
    align-items: center;
  }

  &-clickable {
    cursor: pointer;
  }

  &-size-large {
    padding-top: ~`varv('cell-large-vertical-padding') `;
    padding-bottom: ~`varv('cell-large-vertical-padding') `;
    .@{cell-prefix-cls}-title {
      font-size: ~`varv('cell-large-title-font-size') `;
    }
    .@{cell-prefix-cls}-label {
      font-size: ~`varv('cell-large-label-font-size') `;
    }
  }
}

.@{cell-group-prefix-cls} {
  position: relative;
  background-color: ~`varv('cell-group-background-color') `;

  &-title {
    padding: ~`varv('cell-group-title-padding') `;
    color: ~`varv('cell-group-title-color') `;
    font-size: ~`varv('cell-group-title-font-size') `;
    line-height: ~`varv('cell-group-title-line-height') `;
  }

  &-inset {
    margin: ~`varv('cell-group-inset-margin') `;
    border-radius: ~`varv('cell-group-inset-border-radius') `;
    overflow: hidden;

    .@{cell-group-prefix-cls}-title {
      padding: ~`varv('cell-group-inset-title-padding') `;
    }
  }

  &-border {
    .hairline-top-bottom(~`varv('cell-border-color')`);
  }
}
