@import '../../style/themes/index.less';
@import '../../style/core/mixins/hairline.less';

@cell-prefix-cls: ~'@{prefix-cls}-cell';
@cell-group-prefix-cls: ~'@{prefix-cls}-cell-group';

@cell-gap-const: 12px;
@cell-gap: ~`varv('cell-gap') `;
@cell-icon-gap-const: 4px;
@cell-icon-gap: ~`varv('cell-icon-gap') `;

@cell-horizontal-padding: @var-padding-md;
@cell-vertical-padding: @var-padding-sm;
@cell-background-color: @var-white;
@cell-font-size: @var-font-size-md;
@cell-line-height: @var-line-height-md;
@cell-active-color: @var-active-color;
@cell-border-color: @var-border-color;
@cell-icon-size-const: 16px;
@cell-icon-size: ~`varv('cell-icon-size') `;

@cell-text-color: @var-gray-8;
@cell-value-color: @var-gray-6;
@cell-right-icon-color: @var-gray-6;

@cell-label-color: @var-gray-6;
@cell-label-font-size: @var-font-size-sm;
@cell-label-line-height: @var-line-height-sm;
@cell-label-margin-const: 7px;
@cell-label-margin: ~`varv('cell-label-margin') `;

@cell-large-vertical-padding-const: 14px;
@cell-large-vertical-padding: ~`varv('cell-large-vertical-padding') `;
@cell-large-title-font-size: @var-font-size-lg;
@cell-large-label-font-size: @var-font-size-md;

@cell-group-background-color: @var-white;
@cell-group-title-color: @var-gray-6;
@cell-group-title-padding-const: @var-padding-md @var-padding-md @var-padding-xs;
@cell-group-title-padding: ~`varv('cell-group-title-padding') `;
@cell-group-title-font-size: @var-font-size-md;
@cell-group-title-line-height-const: 16px;
@cell-group-title-line-height: ~`varv('cell-group-title-line-height') `;
