@import './var.less';
@import './css-declare.less';

.@{empty-prefix-cls} {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: ~`varv('empty-padding') `;

  &-icon {
    width: ~`varv('empty-image-size') `;
  }
  &-image {
    width: 100%;
    height: 100%;
    display: block;
  }

  &-description {
    margin-top: ~`varv('empty-description-margin-top') `;
    padding: ~`varv('empty-description-padding') `;
    color: ~`varv('empty-description-color') `;
    font-size: ~`varv('empty-description-font-size') `;
    line-height: ~`varv('empty-description-line-height') `;
  }

  &-children {
    margin-top: ~`varv('empty-bottom-margin-top') `;
  }
}
