@import './var.less';

.@{empty-prefix-cls} {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: @empty-padding;

  &-image {
    width: @empty-image-size;
  }

  &-description {
    margin-top: @empty-description-margin-top;
    padding: @empty-description-padding;
    color: @empty-description-color;
    font-size: @empty-description-font-size;
    line-height: @empty-description-line-height;
  }

  &-children {
    margin-top: @empty-bottom-margin-top;
  }
}
