@import '../../style/themes/index.less';

@empty-prefix-cls: ~'@{prefix-cls}-empty';

@empty-padding-const: @var-padding-xl 0;
@empty-padding: ~`varv('empty-padding') `;
@empty-image-size-const: 160px;
@empty-image-size: ~`varv('empty-image-size') `;
@empty-description-margin-top: @var-padding-md;
@empty-description-padding-const: 0 60px;
@empty-description-padding: ~`varv('empty-description-padding') `;
@empty-description-color: @var-gray-6;
@empty-description-font-size: @var-font-size-md;
@empty-description-line-height: @var-line-height-md;
@empty-bottom-margin-top-const: 24px;
@empty-bottom-margin-top: ~`varv('empty-bottom-margin-top') `; ;
