@import '../../style/core/mixins/var.less';
@import './var.less';

// automatic generated via cli

@password-input-height-const: 50px;
@password-input-margin-const: 0 @var-padding-md;
@password-input-font-size-const: 20px;
@password-input-border-radius-const: 6px;
@password-input-dot-size-const: 10px;
@password-input-cursor-width-const: 1px;
@password-input-cursor-height-const: 40%;
@password-input-cursor-animation-duration-const: 1.2s;

:root {
  .declare(password-input-height, @password-input-height-const);
  .declare(password-input-margin, @password-input-margin-const);
  .declare(password-input-font-size, @password-input-font-size-const);
  .declare(password-input-border-radius, @password-input-border-radius-const);
  .declare(password-input-background-color, @password-input-background-color);
  .declare(password-input-info-color, @password-input-info-color);
  .declare(password-input-info-font-size, @password-input-info-font-size);
  .declare(password-input-error-info-color, @password-input-error-info-color);
  .declare(password-input-dot-size, @password-input-dot-size-const);
  .declare(password-input-dot-color, @password-input-dot-color);
  .declare(password-input-text-color, @password-input-text-color);
  .declare(password-input-cursor-color, @password-input-cursor-color);
  .declare(password-input-cursor-width, @password-input-cursor-width-const);
  .declare(password-input-cursor-height, @password-input-cursor-height-const);
  .declare(password-input-cursor-animation-duration, @password-input-cursor-animation-duration-const);
}
