@import '../../style/core/mixins/hairline.less';
@import './css-declare.less';

.@{password-input-prefix-cls} {
  display: block;
  margin: @password-input-margin;

  &-inner {
    display: flex;
    position: relative;
    cursor: unset;
    height: @password-input-height;

    &-inset {
      border-radius: @password-input-border-radius;

      .@{password-input-prefix-cls}-item:not(:last-child) {
        .hairline-right();
      }
    }
  }

  &-item {
    display: flex;
    position: relative;
    flex: 1;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: @password-input-background-color;
    height: 100%;
    font-size: @password-input-font-size;
  }

  &-mask-dot {
    display: block;
    border-radius: 50%;
    background-color: @password-input-dot-color;
    width: @password-input-dot-size;
    height: @password-input-dot-size;
  }

  &-cursor {
    display: block;
    animation: @password-input-animation-name @password-input-cursor-animation-duration-const steps(2) infinite;
    background-color: @password-input-cursor-color;
    width: @password-input-cursor-width;
    height: @password-input-cursor-height;
  }

  &-input {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
  }

  &-info {
    margin-top: @var-padding-md;
    color: @password-input-info-color;
    font-size: @password-input-info-font-size;
    text-align: center;
  }

  &-error-info {
    color: @password-input-error-info-color;
  }
}

@keyframes @password-input-animation-name {
  0% {
    opacity: 0;
  }
}
