@import '../../style/themes/index.less';

@password-input-prefix-cls: ~'@{prefix-cls}-password-input';
@password-input-animation-name: ~'@{prefix-cls}-password-input-cursor-blink';

@password-input-height-const: 50px;
@password-input-height: ~`varv('password-input-height') `;
@password-input-margin-const: 0 @var-padding-md;
@password-input-margin: ~`varv('password-input-margin') `;
@password-input-font-size-const: 20px;
@password-input-font-size: ~`varv('password-input-font-size') `;
@password-input-border-radius-const: 6px;
@password-input-border-radius: ~`varv('password-input-border-radius') `;
@password-input-background-color: @var-background-color-light;
@password-input-info-color: @var-text-color-2;
@password-input-info-font-size: @var-font-size-md;
@password-input-error-info-color: @var-danger-color;
@password-input-dot-size-const: 10px;
@password-input-dot-size: ~`varv('password-input-dot-size') `;
@password-input-dot-color: @var-text-color;
@password-input-text-color: @var-text-color;
@password-input-cursor-color: @var-text-color;
@password-input-cursor-width-const: 1px;
@password-input-cursor-width: ~`varv('password-input-cursor-width') `;
@password-input-cursor-height-const: 40%;
@password-input-cursor-height: ~`varv('password-input-cursor-height') `;
@password-input-cursor-animation-duration-const: 1.2s;
@password-input-cursor-animation-duration: ~`varv('password-input-cursor-animation-duration') `;
